<!--<div id="ItemsList">

        <table id="AllList">
        {{range $k,$v := .List}}
          <tr>
            <td>
              <a href="/{{$.Globals.AdminSlug}}/pages/edit/{{$v.key}}" class="listItem">{{$v.title}}</a>
            </td>
            <td class="deleteItemTD">
              <a href="/{{$.Globals.AdminSlug}}/pages/delete/{{$v.key}}" class="deleteItem">x</a>
            </td>
          </tr> 
            
        {{end}}
        </table>
</div>-->

<!--STYLE-->
<style>
  label {
    /*
    display: inline-block;
    width: 80px;*/
  }

  textarea {
    min-height: 400px;
  }

#Editor {
  width: 98%;
    display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-gap: 20px;
}

  #ItemLinkShell table{
    
  }

  #editor-container {
  height: 375px;
  background: #fff;
}

.hiddenTextarea {
  display: none;
}

#ListShell {
width: 100%;
padding: 5px;
background: #ccc;
}

#FIELDS_BOX,#Sidebar,#OPTIONS_BOX {
  margin-left: 0px;
}



</style>




<!--START SECTION-->
<section id='sectionContent'>

<!--<h2>{{/*.Data.title*/}}</h2>-->


<!--EDITOR GRID-->
<div id="Editor">

<!--LEFT PANEL-->
<div id="LeftPanel" class="panel">
    
   <!--CLOSE BTN-->
    <div id="LeftPanelCloseBtn"><<br /><</div>
    
    <!--START FULL ITEM LIST
    <div id="ListShell">-->

                       <!--ADD-->
    <div id="AddNewButton">
      <a href="/{{.Globals.AdminSlug}}/pages/add/">New</a>
    </div>


          <!--RECENT LIST-->
          <table id="FullList">
     
          {{range $k,$v := .List}}
            <tr>
              <td class="itemEditTD">
                <a href="/{{$.Globals.AdminSlug}}/pages/edit/{{$v.key}}" class="listItem">{{$v.title}}</a>
              </td>

              <td class="viewItemFullTD">
                <a href="{{$v.slug}}" target="_blank" class="viewItemFull">[^]</a>
              </td>
         

              <td class="deleteItemFullTD">
                <a href="/{{$.Globals.AdminSlug}}/pages/delete/{{$v.key}}" class="deleteItemFull">[x]</a>
              </td>
            </tr> 
          {{end}}
          </table>
    <!--END LIST SHELL
    </div>-->
<!--END LEFT PANEL-->
</div>


<!--FORM-->
<form action="/{{.Globals.AdminSlug}}/pages/list/" id="EditForm" method="post" class="control_forms">




<!--CENTER PANEL-->
<div id="CenterPanel" class="panel">



<!--GUTTER
<div id="PageBarGutter"></div>-->

<!--
    <div id="form_page_title"><label>Title</label>
      <br>
      <input id="input_title" type="input" name="title" placeholder="Enter your title here..." class="control_forms" />

      <div id="form_page_slug"><input id="input_slug" type="input" name="slug" placeholder="/enter-your-title-here" class="control_forms" /></div> 

    </div>

    <div id="form_page_content"><label>Content</label>-->
    
      <!--START EDITOR-->
      <div id="form_page_editor">

          <!--PAGEBAR-->
          <div id="PageBar">

            <!--INPUT TITLE-->
            <input id="input_title" type="input" name="title" placeholder="Title..." class="control_forms" size="1px" />
              


    <div class="clear"></div>
          <!--END PAGEBAR-->
          </div>

          <!--EDITOR-->
          <textarea id="text_area_content" name="content" rows="3" cols="25"  class="control_forms"></textarea>
      
      <!--END FORM PAGE EDITOR-->
      </div>

<!--END CENTER PANEL-->
 </div>

<!--TAB BUTTONS
    <div id="buttons">
    <a id="btn1" href="#tab1">Editor</a>
    <a id="btn2" href="#tab2">SEO</a>
    </div>

<!--TABS
    <div id="tabs">

    <!--TAB1
    <div class="tab" id="tab1">
      <!--TEXT AREA HEADER
      <div id="form_page_editor">
            <textarea id="text_area_content" name="content" rows="3" cols="25"  class="control_forms"></textarea>
      </div>
  
    </div>

    <!--TAB2
    <div class="tab" id="tab2">
    
    <!--SEO
    <details id="SEO_BOX">
    <summary>SEO</summary>
    <div id="SEO_BOX_BG">
    <br />
    <br>
    </div>
    </details>
    <div id="PAGES_SEO_TAB">
      <div id="form_page_slug"><label>URL</label><input id="input_slug" type="input" name="slug" placeholder="/enter-your-title-here" class="control_forms" /></div> 
      <div id="form_page_desc"><label>Description</label><br/><input type="input" name="description" placeholder="Description" class="control_forms" /></div>
      <div id="form_page_keyw"><label>Keywords</label><br/><input type="input" name="keywords" placeholder="Keywords" class="control_forms" /></div>
      <div id="form_page_single"><label>Single Page</label><input id="input_single" type="checkbox" value="1" name="single" class="control_forms" /></div> 

    </div>

    </div>
    
<!--END TABS
</div>-->

<div id="RightPanel" class="panel">

    <!--SIDEBAR-->
    <div id="Sidebar">



    <!--CLOSE BTN-->
    <div id="SidebarCloseBtn"> ><br />> </div>

    <div class="clear"></div>

            <!--DOCUMENT BUTTONS-->
        <div id="DocBtns">

                <!--SAVE-->
            <div id="form_page_savebtn">
              <input type="submit" value="Save" class="button" title="ctrl+s" />
            </div>


        <!--END DOC BTNS-->
        </div>

                <!--OPTIONS-->
    <details id="OPTIONS_BOX" open>
    <summary></summary>
    <div id="OPTIONS_BOX_BG">


       <div id="form_page_slug"><label>URL</label><input id="input_slug" type="input" name="slug" placeholder="/enter-your-title-here" class="control_forms" /></div> 
            <div id="form_page_pagetitle"><label>Page Title</label><br/><input id="input_page_title" type="input" name="pagetitle" placeholder="Page Title" class="control_forms" /></div>

      <div id="form_page_desc"><label>Description</label><br/><input type="input" name="description" placeholder="Description" class="control_forms" /></div>
      <div id="form_page_keyw"><label>Keywords</label><br/><input type="input" name="keywords" placeholder="Keywords" class="control_forms" /></div>
      <div id="form_page_single">

      <!-- <label>Single Page</label><input id="input_single" type="checkbox" value="1" name="single" class="control_forms" />-->
      <label>Single Page</label>
      <label class="switch">
        <input id="input_single" name="single" type="checkbox" value="1" class="control_forms">
        <div class="slider round"></div>
    </label>

      </div> 

    </div>
    </details>

<!--TAB BUTTONS
    <div id="buttons">
    <a id="btn1" href="#tab1">Options</a>
    <a id="btn2" href="#tab2">Recent List</a>
    </div>-->

<!--TABS
    <div id="tabs">
-->
    <!--TAB1
    <div class="tab" id="tab1">
  
    </div>-->

    <!--TAB2
    <div class="tab" id="tab2">-->
 
     <!--RECENT LIST
     <details id="RECENT_BOX" open>
     <summary>Recent List</summary>
    <div id="BOX_BG">
        <table id="List">
        {{range $k,$v := .List}}
          <tr>
            <td>
              <a href="/{{$.Globals.AdminSlug}}/pages/edit/{{$v.key}}" class="listItem">{{$v.title}}</a>
            </td>
            <td class="deleteItemTD">
              <a href="/{{$.Globals.AdminSlug}}/pages/delete/{{$v.key}}" class="deleteItem">x</a>
            </td>
          </tr> 
            
        {{end}}
        </table>-->

      <!--END LIST
    </div>
    </details>
    </div>-->

    <!--END TABS
    </div>-->




    <!--ADVANCED
    <details open>
    <summary>Advanced</summary>
    <div id="form_page_template"><label>Template</label><br/><input type="input" name="template" placeholder="Template" class="control_forms" /></div>
    <div id="form_page_js"><label>JS</label><br/><input type="input" name="js" placeholder="JS" class="control_forms" /></div>
    <div id="form_page_css"><label>CSS</label><br/><input type="input" name="css" placeholder="CSS" class="control_forms" /></div>
    <br>
    </details>-->





 

    <div class="clear"></div>

    <!--END SIDEBAR-->
    </div>

        <input type="hidden" name="token" value="{{/*.token*/}}" />




<!--END RIGHT PANEL-->
</div>

  <!--END FORM-->
  </form>


<!--END EDITOR
</div>-->

<!--END SECTION-->
</section>





<!--CODE MIRROR-->



<!--JAVASCRIPT-->
<script type="text/javascript">
/*
 var myTextarea = document.getElementById("text_area_content");
 var editor = CodeMirror.fromTextArea(myTextarea, {
    lineNumbers: true,
    tabSize: 2,
    indentWithTabs: true,
    mode: 'text/html'
  });

 editor.setSize("100%","580px");
*/


  var myTextarea = document.getElementById("text_area_content");
 var editor = CodeMirror.fromTextArea(myTextarea, {
    lineNumbers: true,
    tabSize: 2,
    indentWithTabs: true,
    mode: 'text/html',
    autoCloseTags: {
      whenOpening: true,
      indentTags: 'none'
    }

  });

 editor.setSize("100%","740px");


$(document).ready(function(){

  console.log('Welcome to the Control Room');
  //CoolClock.findAndCreateClocks();

 //GLOBALS
 var RowIndex;
var NewItem = true;
 var myDataTypeSlug = document.getElementById("input_slug");


//KEY FILTER OVERRIDE FOR INPUTS/TEXTAREAS/SELECTS
key.filter = function(event){
  var tagName = (event.target || event.srcElement).tagName;
  key.setScope(/^(INPUT|TEXTAREA|SELECT)$/.test(tagName) ? 'input' : 'other');
  return true;
}

 //SAVE PAGE WITH KEYBOARD
 key('⌘+s, ctrl+s', function(event){ 
    event.preventDefault();
    //alert('saving page');
    var form =  $("#EditForm")[0];
    console.log(form.action);
    submitForm(form.action);
 });


 //EDITING INPUT TITLE
$("#input_title").on('keyup',function(event){

  if(NewItem){
    //VARS

    var title = event.target.value;
    var slug = $("#input_slug")[0];
    var pageTitle = $("#input_page_title")[0];
        pageTitle.value = title;


    //MANIPULATE
    title = title.trim();
    title = title.replace(/\s/g,"-");
    title = title.toLowerCase();
    /** 
    // alphabet + numberls + hyphen
    /^[a-zA-Z0-9- ]*$/  
    **/
    //title = title.match(/^[a-zA-Z0-9- ]*$/)
    //title = title.replace(/[\W]/g, "");
    title = title.replace(/[^a-zA-Z0-9\-]/gi,"-");


    if(title.slice(-1) == "-"){
      var length = title.length;
          length = length -1;
      title = title.substr(0,length);
    } 

    title = title.replace("--","-");
    title = title.replace("---","-");
   title = title.replace("----","-");

    //ASSIGN TITLE TO SLUG
    slug.value = "/"+title;


    //DEBUG
    //console.log(event);
    //console.log("inserting BR at Char " + end);
  }

//END EDIT INPUT TITLE
});
  
//EDITING IN TEXTAREA
$("#text_area_content").on('keyup',function(event){
  
  //IF RETURN LINE
  if(event.keyCode == 13){

    //VARS
    var field = event.target;
    var br;
    var end = event.target.selectionEnd;
    var start = event.target.selectionStart;

    //SHIFT KEY
    if(event.shiftKey == true){
      event.preventDefault();
      br = "<br>\r";
    } else {
      br = "";
    }

    //CALC END CURSOR
    var end_cursor = field.value.substring(0, start).length + (br.length);


    //INSERT <BR>
    field.value = field.value.substring(0,start) + br  + field.value.substring(end,field.value.length);

    //END CURSOR
    field.focus();
    field.setSelectionRange(end_cursor,end_cursor);

    //DEBUG
    //console.log(event);
    //console.log("inserting BR at Char " + end);

  //END IF
  }

//END EDIT TEXTAREA
});


  //CLICK SUBMIT BUTTON
  $("#EditForm").on('submit',function(event){
      event.preventDefault();
      var url = event.target.action;

      //console.log(event);
      //console.log($("#EditForm").serialize());
      submitForm(url);


      return false;
  //END CLICK SUBMIT
   });

//SUBMIT FORM AJAX
function submitForm(url){

  //VAR CHECK
  var titleVal = $("#input_title")[0].value;
  var editorVal = editor.getValue();

  //CHECK TITLE
  if(titleVal === ""){
    //ALERT
    swal(
    'No Title!',
    'You forgot to enter a Title',
    'error'
    ).catch(swal.noop);

    return;
  }

  //CHECK EDITOR
  if(editorVal === ""){
    //ALERT
    swal(
    'No Content!',
    'You did not enter any Content',
    'error'
    ).catch(swal.noop);

    return;
  }

  //GET IDE TEXT
  myTextarea.innerHTML = editor.getValue();

  console.log($("#EditForm").serialize());

      //AJAX
      $.ajax({
         type: "POST",
         url: url,
         data: $("#EditForm").serialize(),
         success: function(res){
            
            //ALERT
            //alertify.success(res.message);

            swal(
                res.message,
                'Item was saved successfully!',
                'success'
              ).catch(swal.noop);

            //IF KEY
            if(res.key){
              addListItem(res);
            } else {
              updateListItem(res.title);
            }
         }
       });

//END SUBMITFORM FUNC
}

//FUNC UPDATE LIST ITEM
function updateListItem(newTitle){
 // var changedRow = $("#List tr:nth-child("+RowIndex+") td a");
   //   changedRow[0].innerHTML = newTitle;

  var changedRow = $("#FullList tr:nth-child("+RowIndex+") td a");
      changedRow[0].innerHTML = newTitle;
  //console.log(changedRow);
}

//FUNC ADD LIST ITEM
function addListItem(res){

/*
    //INSERT NEW ROW/CELLS
    var newRow = $("#List")[0].insertRow(0);
    var titleCell = newRow.insertCell(0);
    var deleteCell = newRow.insertCell(1);
        deleteCell.setAttribute("class","deleteItemTD");


    //SETUP INFO
    var titleText  = res.title;
    var titleURL   = '/'+res.adminSlug+'/pages/edit/'+res.key;
    var deleteURL  = '/'+res.adminSlug+'/pages/delete/'+res.key;

    //PREP TITLE ELEMENT
    var titleEl = document.createElement('a');
        titleEl.setAttribute("href",titleURL);
        titleEl.setAttribute("class","listItem");
        titleEl.innerHTML = titleText;

    //PREP DELETE ELEMENT
    var deleteEl = document.createElement('a');
        deleteEl.setAttribute("href",deleteURL);
        deleteEl.setAttribute("class","deleteItem");
        deleteEl.innerHTML = "x";

    //APPEND ELEMENTS
    titleCell.appendChild(titleEl);
    deleteCell.appendChild(deleteEl);

    //UPDATE FORM ACTION
    var form = $("#EditForm");
    form.attr('action',titleURL);
*/
    //INSERT NEW ROW/CELLS
    var newRow = $("#FullList")[0].insertRow(0);
    var titleCell = newRow.insertCell(0);
    var urlCell = newRow.insertCell(1);
    var deleteCell = newRow.insertCell(2);
        deleteCell.setAttribute("class","deleteItemFullTD");


    //SETUP INFO
    var titleText  = res.title;
    var titleURL   = '/'+res.adminSlug+'/pages/edit/'+res.key;
    var deleteURL  = '/'+res.adminSlug+'/pages/delete/'+res.key;
    var itemURL = res.url;

    //PREP TITLE ELEMENT
    var titleEl = document.createElement('a');
        titleEl.setAttribute("href",titleURL);
        titleEl.setAttribute("class","listItem");
        titleEl.innerHTML = titleText;

        //PREP URL ELEMENT
    var urlEl = document.createElement('a');
        urlEl.setAttribute("href",itemURL);
        urlEl.setAttribute("target","_blank");
        urlEl.setAttribute("class","viewItemFullTD");
        urlEl.innerHTML = "[^]";

    //PREP DELETE ELEMENT
    var deleteEl = document.createElement('a');
        deleteEl.setAttribute("href",deleteURL);
        deleteEl.setAttribute("class","deleteItemFull");
        deleteEl.innerHTML = "[x]";

    //APPEND ELEMENTS
    titleCell.appendChild(titleEl);
    urlCell.appendChild(urlEl);
    deleteCell.appendChild(deleteEl);

    //UPDATE FORM ACTION
    var form = $("#EditForm");
    form.attr('action',titleURL);

           

}



//CLICK ADD BUTTON
$("#AddButton a").on('click',function(event){
    event.preventDefault();
    //var url = event.target.href;

    NewItem = true;

    ResetForm();

/*
       //HIDE FIELDS/DISPLAY LIST
      $("#ListShell").show();
      $("#FIELDS_BOX").hide();
      $("#OPTIONS_BOX").hide();
      $("#Sidebar").hide();
      $("#PageBar").hide();
          $("#sectionContent").hide();
          */


});

//CLICK ADD BUTTON
$("#AddNewButton a").on('click',function(event){
    event.preventDefault();
    //var url = event.target.href;
    NewItem = true;
  myDataTypeSlug.disabled = false;
  myDataTypeSlug.style.background = "#FFF";

    ResetForm();
/*

       $("#ListShell").hide();
    $("#FIELDS_BOX").show();
    $("#OPTIONS_BOX").show();
    $("#Sidebar").show();
    $("#PageBar").show();
    $("#sectionContent").show();
          */


});

//CLICK LIST BUTTONS
$("#List, #FullList").on('click','tr td a.listItem',function(event){

    //PREVENT DEFAULT
    event.preventDefault();

    //RESET FORM
    ResetForm();

    //GRAB URL
    var url = event.target.href;

    //GRAB ROW INDEX
    RowIndex = event.target.parentElement.parentElement.rowIndex + 1;
    //console.log(RowIndex);

    //CHANGE FORM URL
    $("#EditForm").attr('action',url);


    //AJAX LOAD SINGLE ITEM
    $.ajax({
      url:url,
      success:function(results){
        LoadItem(results);
      }
    //END AJAX 
    });

//END CLICK LIST
})

//CLICK DELETE BUTTONS
$("#List").on('click',"tr td a.deleteItem",function(event){
      
      //PREVENT DEFAULT
      event.preventDefault();
      
      //GRAB URL
      var url = event.target.href;

      //GRAB ROW INDEX
      var index = Number(event.target.parentNode.parentNode.rowIndex);
      //console.log(index);

    //CONFIRM SETUP
    alertify.set({ 
      labels: {
        ok:"Yes",
        cancel:"No"
      },
      buttonReverse:true

    });

    //CONFIRM
    alertify.confirm("Are you sure you want to delete the item?", function(e){

      //YES
      if(e){

        //AJAX
        $.ajax({
           type: "POST",
           url: url,
           success: function(res){
              //RESET FORM              
              ResetForm(); 
              
              //DELETE ROW
              $("#List")[0].deleteRow(index);
               
              //ALERT
              alertify.success(res);
           }

        //END AJAX
        });
      }

    //END CONFIRM       
    });
      

       

  //END CLICK
  }); 


//FUNC RESET ITEMS
function ResetForm(){
  var form = $("#EditForm");
      form.attr('action','/{{.Globals.AdminSlug}}/pages/list/');
      form[0].reset();

  var textareaItem = $("#EditForm textarea[name='content']");
     textareaItem[0].innerHTML = "";

  editor.setValue("");

}

//FUNC LOAD ITEMS
function LoadItem(results){

 /*

         //HIDE LIST/DISPLAY FIELDS
    $("#ListShell").hide();
    $("#FIELDS_BOX").show();
    $("#OPTIONS_BOX").show();
    $("#Sidebar").show();
    $("#PageBar").show();
    $("#sectionContent").show();*/
  
  //console.log(results);
  
    $("#EditForm .control_forms").each(function(i,v){
      //console.log(v.name);
      var formName = v.name;
      for(var r in results){
        //console.log(r)

        if(r == formName){
          //console.log(r + " = "+formName)
          
          if(formName == 'content'){
            var textareaItem = $("#EditForm textarea[name='"+formName+"']");
           textareaItem[0].innerHTML = results[r];
          
          //myTextarea.textContent = results[r];

          }else if(formName == 'single'){
            var inputItem = $("#EditForm input[name='"+formName+"']");
                if(results[r] == "1"){
                  inputItem[0].checked = true;
                  //inputItem[0].value = results[r];

                } else {
                  inputItem[0].checked = false;
                  //inputItem[0].value = results[r];

                }

          } else {
            var inputItem = $("#EditForm input[name='"+formName+"']");
            inputItem[0].value = results[r];

          }
        
        //END IF  
        }

      //END FOR
      }

    //END EACH
    });

      console.log(myTextarea.textContent);
      //IDE SET VALUE
      editor.setValue(myTextarea.textContent);

 NewItem = false;
    //myDataTypeSlug.disabled = true;
  myDataTypeSlug.style.background = "#dcdcdc";

  //END FUNC
  }

//END DOC
});

</script>