<!--STYLES-->
<style>
* {
  margin: 0px;
  padding: 0px;
}

#Editor {
  height: 100%;
}


#app_buttons span,
a span {
  pointer-events: none;
}

 .apptabs {
    width: auto;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: #fff;

}
</style>


<!--*******************************APP*******************************-->

<!--APP-->
<div id="app">

    <!--HEADER-->
    <the-header :type="type" :adminurl="adminurl" :logout="logout"></the-header>


    <!--START FORM-->
    <form action="/{{.Globals.AdminSlug}}/pages/list/" id="EditForm" method="post" class="control_forms">


        <!--EDITOR GRID-->
        <div id="Editor"  class="columns">

              <!--PANEL LEFT
              <div class="column is-2">
                <panel-left :items="items" :styles="styles" :themes="themes" :files="files" :adminurl="adminurl" :type="type"></panel-left>
              </div>-->

              <!--PANEL CENTER-->
              <div class="column is-8">
                <panel-center :files="files" :adminurl="adminurl" ref="centerPanel"></panel-center>
              </div>


              <!--PANEL RIGHT-->
              <div class="column is-4">
                <panel-right :items="items" :themes="themes" :type="type" :files="files" :styles="styles" :adminurl="adminurl" ref="rightPanel"></panel-right>
              </div>

        <!--END EDITOR-->
        </div>


    <!--END FORM-->
     </form>


    <!--FOOTER-->
    <the-footer :logout="logout" :adminurl="adminurl"></the-footer>


<!--END APP-->
</div>



<!--JAVASCRIPT-->
<script>

var pageItem = {
      title: '',
      rowtitle: '',
      pagetitle: '',
      slug: '',
      description:'',
      keywords:'',
      single:'',
      content:'',
      url: '',
      row:''
    };


var styleItem = {
      style_name: '',
      style_sheet:'',
      url:'',
      row:''
    };

var themeItem = {
      core_header: '',
      core_footer:'',
      core_version:'',
      url:'', 
      row:''
    };

var fileItem = {
  title: '',
  url:'',
  row:'',
};

var settingsItem = {
  title: '',
}

/*************************VUE****************************/

      //VUE ROOT
     var app =  new Vue({
        el: '#app',
        delimiters: ['${', '}'],

        data: {
            items: [],
            styles: [],
            themes: [],
            files: [],
            isNewBool: true,
            editor: Object,
            editorStyles: Object,
            editorHeader: Object,
            editorFooter: Object,
            sortList: Object,
            sortStyles: Object,
            type: "1",
            adminurl: "{{$.Globals.AdminSlug}}",
            logout: "{{$.Data.logout}}",
        },

        components: {
          'TheHeader': httpVueLoader('/admin/static/dir/vue/_header.vue'),
          'TheFooter': httpVueLoader('/admin/static/dir/vue/_footer.vue'),
          //'panel-left': httpVueLoader('/admin/static/dir/vue/panel_left.vue'),
          'panel-center': httpVueLoader('/admin/static/dir/vue/panel_center.vue'),
          'panel-right': httpVueLoader('/admin/static/dir/vue/panel_right.vue'),
        },



        mounted: function(){

            //NEEDED
            var self = this;

            //LOAD PAGES DATA
             $.ajax({
               type: "GET",
                url: "/{{.Globals.AdminSlug}}/editor",
                success: function(res){
                  self.items = res;
               }
             });

            //LOAD STYLES DATA
             $.ajax({
               type: "GET",
                url: "/{{.Globals.AdminSlug}}/style/",
                success: function(res){
                  self.styles = res;
               }
             });

              //LOAD THEMES DATA
             $.ajax({
               type: "GET",
                url: "/{{.Globals.AdminSlug}}/core/",
                success: function(res){
                  console.log(res);
                  self.themes = res;
               }
             });

             //LOAD FILES DATA
             $.ajax({
               type: "GET",
                url: "/{{.Globals.AdminSlug}}/files/",
                success: function(res){
                  console.log(res);
                  self.files = res;
               }
             });

             //KEY FILTER OVERRIDE FOR INPUTS/TEXTAREAS/SELECTS
            key.filter = function(event){
              var tagName = (event.target || event.srcElement).tagName;
              key.setScope(/^(INPUT|TEXTAREA|SELECT)$/.test(tagName) ? 'input' : 'other');
              return true;
            }

             //SAVE PAGE WITH KEYBOARD
             key('⌘+s, ctrl+s', function(event){ 
                event.preventDefault();
                //var form = $("#EditForm")[0];
                //app.$options.methods.submitForm(form.action);
                                console.log(app);

                self.$refs.rightPanel.$refs.saveBtn.$refs.saveItem.click();
             });

             /*
             //MIN LINES
             var minLines = 35;
             var startVal = '';
             for(var i =1; i<minLines;i++){
                startVal += '\n';
             }
             */


        //END FUNC MOUNTED     
        },


      //END VUE
      });


</script>