<!--STYLES-->
<style>
* {
  margin: 0px;
  padding: 0px;
}

#Editor {
  height: 100%;
}


#app_buttons span,
a span {
  pointer-events: none;
}

 .apptabs {
    width: auto;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: #fff;

}
</style>


<!--*******************************APP*******************************-->

<!--APP-->
<div id="app">

    <the-header :type="type"></the-header>




    <!--START FORM-->
    <form action="/{{.Globals.AdminSlug}}/pages/list/" id="EditForm" method="post" class="control_forms">


        <!--EDITOR GRID-->
        <div id="Editor"  class="columns">

              <!--PANEL LEFT-->
              <div class="column is-2">
                <app-tabs :type="type"></app-tabs>
                <panel-left :items="items" :styles="styles" :adminurl="adminurl" :type="type"></panel-left>
              </div>

              <!--PANEL CENTER-->
              <div class="column is-7">
                <panel-center></panel-center>
              </div>


              <!--PANEL RIGHT-->
              <div class="column is-3">
                <panel-right :items="items" :type="type"></panel-right>
              </div>

        <!--END EDITOR-->
        </div>


    <!--END FORM-->
     </form>


     <the-footer :logout="logout"></the-footer>


<!--END APP-->
</div>

    <!--HEADER

<template id="AppTabs">
  
    <div id="header">

      <!--MENU
      <div id="menu">

      <!--APP TAB BUTTONS
        <div class="tabs is-centered">
          <ul id="app_buttons"  @click="mainTabClick">
                
                <li id="app_btn1">
                  <a href="#app_tab1">
                    <span class="icon is-small"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                    <span></span>
                  </a>
                </li>


                <li id="app_btn2">
                  <a href="#app_tab2">
                    <span class="icon is-small"><i class="fa fa-file-code-o" aria-hidden="true"></i></span>
                    <span></span>
                  </a>
                </li>
                
                <li id="app_btn3">
                  <a href="#app_tab3">
                    <span class="icon is-small"><i class="fa fa-paint-brush" aria-hidden="true"></i></span>
                    <span></span>
                  </a>
                </li>


<!--
                <li id="main_btn4">
                  <a href="#main_tab4">
                    <span class="icon is-small"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                    <span>Images</span>
                  </a>
                </li>


                <li id="main_btn5">
                  <a href="#main_tab5">
                    <span class="icon is-small"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                    <span>Settings</span>
                  </a>
                </li>
            </ul>
        </div>

   <!--   </div> 

    END HEADER
    </div>

</template>-->

  <!--FOOTER-->
<!--
<template id="TheFooter">
  <div id="footer">
<a href='/' target="_blank">View Site</a> &nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{{$.Data.logout}}">Logout</a>
  </div>
</template>

<template src='http://localhost:8080/admin/static/dir/vue/_footer.html'></template>
-->




<!--******************************* LIST STYLES*******************************-
<template id="ListStyles">
  

    <table id="FullList">
      <thead>
        <tr>
          <th>Name <span class='icon is-small'><i class="fa fa-sort" aria-hidden="true"></i></span></th>
          <th data-sort-method='none'></th>
        </tr>
      </thead>
  <tbody>
    <tr v-for="(item,row) in styles">
      <td class="itemEditTD">
        <a :href="'/{{$.Globals.AdminSlug}}/style/edit/'+item.key" :data-row="row"  class="listItem" @click="loadItem">
          <span class='icon is-small'>
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </span>
        ${item.StyleName}</a>
      </td>


 
      <td class="deleteItemFullTD">
        <a :href="'/{{$.Globals.AdminSlug}}/style/delete/'+ item.key" :data-row="row" class="deleteItemFull" @click="deleteItem">
            <span class='icon is-small'>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</template>-->


<!--******************************* EDITOR STYLES*******************************

<template id="EditorStyles">

    <!--EDITOR-
    <div class="CenterEditor">

          <!--PAGEBAR/TITLE INPUT--
          <div id="PageBar">
            
             <!--STYLE FILENAME--
             <input  v-model="style_name" id="input_version" @keyup="updateTitle" type="input" name="style_name" placeholder="Stylesheet Name..." class="input is-large control_forms" value="" />

          </div>

          <!--EDITOR--
          <textarea id="text_area_styles" name="style_sheet" rows="3" cols="25"  v-model="style_sheet" class="control_forms"></textarea>

    </div>

</template>-->


     

<!--******************************* LIST PAGES*******************************-
<template id="ListPages">
  
    <!--RECENT LIST--
    <table id="FullList">
      <thead>
        <tr>
          <th>Name <span class='icon is-small'><i class="fa fa-sort" aria-hidden="true"></i></span></th>
          <th data-sort-method='none'></th>
          <th data-sort-method='none'></th>
        </tr>
      </thead>
  <tbody>
    <tr v-for="(item,row) in items">
      <td class="itemEditTD">
        <a :href="'/{{$.Globals.AdminSlug}}/pages/edit/'+item.key" :data-row="row"  class="listItem" @click="loadItem">
          <span class='icon is-small'>
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </span>
        ${item.title}</a>
      </td>

      <td class="viewItemFullTD">
        <a :href="item.slug" target="_blank" :data-row="row"  class="viewItemFull">
          <span class='icon is-small'>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </span>
        </a>
      </td>
 
      <td class="deleteItemFullTD">
        <a :href="'/{{$.Globals.AdminSlug}}/pages/delete/'+ item.key" :data-row="row" class="deleteItemFull" @click="deleteItem">
            <span class='icon is-small'>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</template>
-->


<!--******************************* OPTIONS PAGES*******************************--
<template id="OptionsPages">

    <!--OPTIONS--
    <details id="Options" open>
    <summary>Options</summary>
     
       <div class="field">
       <label class="label">URL</label>
       <input id="input_slug" type="input" name="slug" v-model="slug" placeholder="/enter-your-title-here" class="input control_forms" />
      </div>

  <div class="field">

      <label class="label">Page Title</label>
      <input id="input_page_title" type="input" name="pagetitle" v-model="pagetitle" placeholder="Page Title" class="input control_forms" />
      </div>

        <div class="field">

      <label class="label">Description</label>
      <input type="input" name="description" placeholder="Description" v-model="description" class="input control_forms" />
      </div>
  <div class="field">

      <label class="label">Keywords</label>
      <input type="input" name="keywords" placeholder="Keywords" v-model="keywords" class="input control_forms" />
</div>

  <div class="field">

      <label class="label">Single Page</label>
      <label class="switch">
        <input id="input_single" name="single" type="checkbox" value="1" v-model="single" class="checkbox control_forms">
        <div class="slider round"></div>
      </label>
</div>
    </details>

</template>
-->

<!--******************************* EDITOR PAGES*******************************-

<template id="EditorPages">

    <!--EDITOR--
    <div class="CenterEditor">

          <!--PAGEBAR/TITLE INPUT--
          <div id="PageBar">
            <input v-model="title" id="input_title"  type="input" name="title" placeholder="Title..." @keyup="updateSlug" class="input is-large control_forms" size="1px" />
          </div>

          <!--EDITOR--
          <textarea id="text_area_content" name="content" rows="3" cols="25"  v-model="content" class="control_forms"></textarea>

    </div>

</template>
-->

<!--******************************* PANEL LEFT*******************************--
<template id="Panel-Left">
  
  <!--LEFT PANEL--
  <div id="LeftCol">

    <!--CLOSE
    <panel-btn-left></panel-btn-left>--

    <!--LIST PAGES--
    <list-pages :items="items"  :adminurl="adminurl" v-show="type == '1'"></list-pages>

    <!--LIST STYLES--
    <list-styles :styles="styles"  :adminurl="adminurl" v-show="type == '2'"></list-styles>


  <!--END LEFT PANEL--
  </div>
</template>
-->

<!--******************************* PANEL CENTER*****************************--
<template id="Panel-Center">

    <!--CENTER PANEL--
    <div id="CenterCol">



                  <!--TABS--
                   <div id="APP_TABS" class='theTabs'>


                      <!--TAB1--
                      <div class="column is-7 apptabs" id="app_tab1">
                        <editor-pages></editor-pages>
                      </div>

                      <!--TAB2--
                      <div class="column is-7 apptabs" id="app_tab2">
                        <editor-styles></editor-styles>
                      </div>

                      <!--TAB3--
                      <div class="column is-7 apptabs" id="app_tab3">
                        <h1>Themes</h1>
                      </div>

                      <!--TAB4
                      <div class="column is-7 apptabs" id="app_tab4">
                        <h1>Images</h1>
                      </div>-->

                      <!--TAB5
                      <div class="column is-7 apptabs" id="app_tab5">
                        <h1>Settings</h1>
                      </div>-->

                    <!--END TABS--
                    </div>

    <!--END CENTER PANEL--
     </div>

</template>
-->


<!--******************************* PANEL RIGHT*******************************--
<template id="Panel-Right">
  
  <!--RIGHT PANEL--
  <div id="RightCol">

    <!--CLOSE
    <panel-btn-right></panel-btn-right>
    --

    <div class="field is-grouped is-grouped-centered">
      <p class="control">
          <!--SAVE--
        <panel-btn-save></panel-btn-save>
      </p>
      <p class="control">
             <!--NEW--
        <panel-btn-new></panel-btn-new>
      </p>
    </div>

    <!--OPTIONS PAGES--
    <options-pages :items="items" v-if="type == '1'"></options-pages>


  <!--END RIGHT PANEL--
  </div>

</template>
-->

<!--****************************************BUTTONS*****************************************-->

<!--CLOSE BTN LEFT
<template id="Panel-Btn-Left">
      <div id="LeftPanelCloseBtn">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
      </div>
</template>-->

<!--CLOSE BTN RIGHT
<template id="Panel-Btn-Right">
    <div id="SidebarCloseBtn">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
     </div>
</template>-->

<!--SAVE BTN
<template id="Panel-Btn-Save">
    <div id="form_page_savebtn">
      <input type="submit" value="Save" @click="saveItem" class="button is-light is-primary" title="Save (ctrl+s)" />
    </div>
</template>-->

<!--NEW BTN
<template id="Panel-Btn-New">
    <div id="AddNewButton">
            <input type="button" value="New" @click="newItem" class="button is-primary" title="New" />
    </div>
</template>-->





<!--JAVASCRIPT-->
<script>

var pageItem = {
      title: '',
      rowtitle: '',
      pagetitle: '',
      slug: '',
      description:'',
      keywords:'',
      single:'',
      content:'',
      row:''
    };


var styleItem = {
      style_name: '',
      style_sheet:'',
      url:'',
      row:''
    };


/************************* LIST STYLES ****************************
Vue.component('list-styles',{
  template: '#ListStyles',
  props: ['styles'],
  delimiters: ['${', '}'],
   methods: {
              loadItem: function(e){

              //PREVENT DEFAULT
                  e.preventDefault();

                  //RESET FORM
                  app.$options.methods.ResetForm();

                  //NewItem = false;
                  app.isNewBool = false;

                  //GRAB URL
                  var url = e.target.href;
                  var row = e.target.dataset.row;

                  //CHANGE FORM URL
                  $("#EditForm").attr('action',url);

                  //AJAX LOAD SINGLE ITEM
                  $.ajax({
                    url:url,
                    success:function(resp){

                      var res = resp;
                      console.log(resp);
                      
            
                      //SET DATA
                      styleItem.style_name = res.style_name;
                      styleItem.style_sheet = res.style_sheet;
                      styleItem.url = url;
                      styleItem.row = row;

                      //EDITOR SET VALUE
                     //editor.setValue(pageItem.content);
                      app.editorStyles.setValue(styleItem.style_sheet);
                      
                    }

                  //END AJAX 
                  });

              //END LOAD FUNC
              },
             deleteItem: function(e){
                
                //PREVENT DEFAULT
                e.preventDefault();
                
                //GRAB URL
                var url = e.target.href;

                //GRAB ROW INDEX
                var row = Number(e.target.dataset.row);

                //CONFIRM DIALOG
                swal({
                  title: 'Delete Item',
                  text: "Are you sure you want to delete this item?",
                  type: 'error',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel!',
                  confirmButtonClass: 'btn btn-success',
                  cancelButtonClass: 'btn btn-danger',
                  buttonsStyling: true

                }).then(function () {

                        //AJAX
                        $.ajax({
                           type: "POST",
                           url: url,
                           success: function(res){

                              //RESET FORM              
                              app.$options.methods.ResetForm();               
                              
                              //DELETE ROW
                              app.styles.splice(row,1);

                              //app.sortList.refresh();
                               
                              //ALERT
                                swal(
                                  'Deleted!',
                                  res,
                                  'success'
                                );
                           }

                        //END AJAX
                        });


                }).catch(swal.noop);


            //END DELETE FUNC  
            }

        //END METHODS
        }

//END COMP  
});
*/

/************************* EDITOR STYLES ****************************
Vue.component('editor-styles',{
  template: '#EditorStyles',
  props: ['styles'],
  delimiters: ['${', '}'],
  data: function(){
   return styleItem;
  },
  methods: {
    updateTitle: function(e){
        
        e.preventDefault();

        //if(NewItem){
          //if(app.isNewBool){

            //GET/SET TITLE
            var title = styleItem.style_name;
           // pageItem.pagetitle = title;


            //STRING TO URL
            //title = title.trim();
            title = title.replace(/\s/g,"-");
            title = title.toLowerCase();
           // title = title.replace(/[^a-zA-Z0-9\-]/gi,"-");
           // title = title.replace(/\s+/g, '-') // No Whitespace
           // title = title.replace(/-+/g, '-'); //  No Dashes


            //ASSIGN TITLE TO SLUG
           styleItem.style_name = title;

         // }

    //END FUNC UPDATESLUG
    }
  //END METHODS
  }

});
*/


/************************* LIST PAGES ****************************
Vue.component('list-pages',{
  template: '#ListPages',
  props: ['items'],
  delimiters: ['${', '}'],
   methods: {
              loadItem: function(e){

              //PREVENT DEFAULT
                  e.preventDefault();

                  //RESET FORM
                  app.$options.methods.ResetForm();

                  //NewItem = false;
                  app.isNewBool = false;

                  //GRAB URL
                  var url = e.target.href;
                  var row = e.target.dataset.row;

                  //CHANGE FORM URL
                  $("#EditForm").attr('action',url);

                  //AJAX LOAD SINGLE ITEM
                  $.ajax({
                    url:url,
                    success:function(resp){

                      var res = resp;
  
                      //SET DATA
                      pageItem.title = res.title;
                      pageItem.rowtitle = res.title;
                      pageItem.pagetitle = res.pagetitle;
                      pageItem.slug = res.slug;
                      pageItem.description = res.description;
                      pageItem.keywords = res.keywords;
                      pageItem.single = res.single;
                      pageItem.content = res.content;
                      pageItem.row = row;
                      pageItem.url = url;

                      //EDITOR SET VALUE
                     //editor.setValue(pageItem.content);
                      app.editor.setValue(pageItem.content);
                    }

                  //END AJAX 
                  });

              //END LOAD FUNC
              },

                deleteItem: function(e){
                
                //PREVENT DEFAULT
                e.preventDefault();
                
                //GRAB URL
                var url = e.target.href;

                //GRAB ROW INDEX
                var row = Number(e.target.dataset.row);

                //CONFIRM DIALOG
                swal({
                  title: 'Delete Item',
                  text: "Are you sure you want to delete this item?",
                  type: 'error',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel!',
                  confirmButtonClass: 'btn btn-success',
                  cancelButtonClass: 'btn btn-danger',
                  buttonsStyling: true

                }).then(function () {

                        //AJAX
                        $.ajax({
                           type: "POST",
                           url: url,
                           success: function(res){

                              //RESET FORM              
                              app.$options.methods.ResetForm();               
                              
                              //DELETE ROW
                              app.items.splice(row,1);

                              //app.sortList.refresh();
                               
                              //ALERT
                                swal(
                                  'Deleted!',
                                  res,
                                  'success'
                                );
                           }

                        //END AJAX
                        });


                }).catch(swal.noop);


            //END DELETE FUNC  
            }

        //END METHODS
        }

//END COMP  
});
*/


/************************* OPTIONS PAGES ****************************
Vue.component('options-pages',{
  template: '#OptionsPages',
  props: ['items'],
  delimiters: ['${', '}'],
  data: function(){
   return pageItem;
  }
});
*/

/************************* EDITOR PAGES ****************************
Vue.component('editor-pages',{
  template: '#EditorPages',
  props: ['items'],
  delimiters: ['${', '}'],
  data: function(){
   return pageItem;
  },
    methods: {
    updateSlug: function(e){
        
        e.preventDefault();

        //if(NewItem){
          if(app.isNewBool){

            //GET/SET TITLE
            var title = pageItem.title;
            pageItem.pagetitle = title;


            //STRING TO URL
            title = title.trim();
            title = title.replace(/\s/g,"-");
            title = title.toLowerCase();
            title = title.replace(/[^a-zA-Z0-9\-]/gi,"");
            title = title.replace(/\s+/g, '-') // No Whitespace
            title = title.replace(/-+/g, '-'); //  No Dashes


            //ASSIGN TITLE TO SLUG
           pageItem.slug = "/"+title;

          }

    //END FUNC UPDATESLUG
    }

  //END METHODS
  }
});
*/

/************************* BUTTONS ****************************/
/*
Vue.component('panel-btn-right',{
  template: '#Panel-Btn-Right'
});

Vue.component('panel-btn-left',{
  template: '#Panel-Btn-Left'
});
*/
/*
Vue.component('panel-btn-save',{
  template: '#Panel-Btn-Save',
   methods: {
    saveItem: function(e){
      e.preventDefault();
      var form = $("#EditForm")[0];
      app.$options.methods.submitForm(form.action);
    }
  }
});


Vue.component('panel-btn-new',{
  template: '#Panel-Btn-New',
   methods: {
    newItem: function(e){
      e.preventDefault();
      app.$options.methods.ResetForm();
    }
  }
});*/

/************************* APP TABS****************************


Vue.component('app-tabs',{
  template: '#AppTabs',
  delimiters: ['${', '}'],
  props: ['type'],
  mounted: function(){

            //1ST BTN ACTIVE
        $("#app_btn1").addClass('active is-active');
        $("#app_tab1").css('zIndex', 1);



  },
  methods: {


     mainTabClick: function(e){
              
          e.preventDefault();

            console.log(e);

          if(e.target.tagName == "A"){
            var hash = e.target.hash;
            var num = hash.substr(-1);
            var btns = e.currentTarget.children;
            
            $.each(btns,function(key,val){
                var tab = "#app_tab"+String(key+1);
                  $(tab).css('zIndex',0);
                var btn = $(btns[key]);
                    btn[0].className = "";
            });


            $(hash).css('zIndex',1);
            $("#app_btn"+num).addClass('active is-active');

             app.type = num;

             var newURL = "";
            
            if(app.type == '1'){
              newURL = "/{{.Globals.AdminSlug}}/pages/list/";
              //pageItem.url =  "/{{.Globals.AdminSlug}}/pages/list/";
            }

            if(app.type == '2') {
              newURL = "/{{.Globals.AdminSlug}}/style/";
             // styleItem.url = "/{{.Globals.AdminSlug}}/style/";
            }


            //CHANGE FORM URL
           // $("#EditForm").attr('action',newURL);

          
          //END IF
          }


        //END BUTTONS CLICK
        }

  //END METHODS
  }
});

*/

/*

Vue.component('the-footer',{
  template: '#TheFooter',
  delimiters: ['${', '}']
});

*/

/************************* PANELS ****************************/

/*
//COMP PANEL RIGHT
Vue.component('panel-right',{
  template: '#Panel-Right',
  components: {
    'panel-btn-save': httpVueLoader('/admin/static/dir/vue/btn_save.vue'),
    'panel-btn-new': httpVueLoader('/admin/static/dir/vue/btn_new.vue'),
        'options-pages': httpVueLoader('/admin/static/dir/vue/pages_options.vue'),


  },
  props: ['items','type']
});
*/


/*
//COMP PANEL LEFT
Vue.component('panel-left',{
  template: '#Panel-Left',
  props: ['items','styles','type','adminurl'],
  delimiters: ['${', '}'],
   components: {
    'list-pages': httpVueLoader('/admin/static/dir/vue/pages_list.vue'),
    'list-styles': httpVueLoader('/admin/static/dir/vue/styles_list.vue'),
  }  
});
*/
/*
//COMP PANEL CENTER
Vue.component('panel-center',{
  template: '#Panel-Center',
  props: ['items'],
  delimiters: ['${', '}'],
  components: {
    'editor-pages': httpVueLoader('/admin/static/dir/vue/pages_editor.vue'),
    'editor-styles': httpVueLoader('/admin/static/dir/vue/styles_editor.vue'),
  }  
//END COMP
});
*/

/*************************VUE****************************/
/*import Footer from './admin/static/dir/_footer.vue';*/


      //VUE ROOT
     var app =  new Vue({
        el: '#app',
        delimiters: ['${', '}'],

        data: {
            items: [],
            styles: [],
            isNewBool: true,
            editor: Object,
            editorStyles: Object,
            sortList: Object,
            sortStyles: Object,
            type: "1",
            adminurl: "{{$.Globals.AdminSlug}}",
            logout: "{{$.Data.logout}}",
        },

        components: {
          'TheHeader': httpVueLoader('/admin/static/dir/vue/_header.vue'),
          'TheFooter': httpVueLoader('/admin/static/dir/vue/_footer.vue'),
          'app-tabs': httpVueLoader('/admin/static/dir/vue/app_tabs.vue'),
          'panel-left': httpVueLoader('/admin/static/dir/vue/panel_left.vue'),
          'panel-center': httpVueLoader('/admin/static/dir/vue/panel_center.vue'),
          'panel-right': httpVueLoader('/admin/static/dir/vue/panel_right.vue'),

        },



        mounted: function(){

            //NEEDED
            var self = this;

            //LOAD PAGES DATA
             $.ajax({
               type: "GET",
                url: "/{{.Globals.AdminSlug}}/editor",
                success: function(res){
                  self.items = res;
               }
             });

            //LOAD STYLES DATA
             $.ajax({
               type: "GET",
                url: "/{{.Globals.AdminSlug}}/style/",
                success: function(res){
                  self.styles = res;
               }
             });

             //KEY FILTER OVERRIDE FOR INPUTS/TEXTAREAS/SELECTS
            key.filter = function(event){
              var tagName = (event.target || event.srcElement).tagName;
              key.setScope(/^(INPUT|TEXTAREA|SELECT)$/.test(tagName) ? 'input' : 'other');
              return true;
            }

             //SAVE PAGE WITH KEYBOARD
             key('⌘+s, ctrl+s', function(event){ 
                event.preventDefault();
                var form = $("#EditForm")[0];
                app.$options.methods.submitForm(form.action);
             });

             /*
             //MIN LINES
             var minLines = 35;
             var startVal = '';
             for(var i =1; i<minLines;i++){
                startVal += '\n';
             }
             */


             /*
              //INIT EDITOR PAGES
               self.editor = CodeMirror.fromTextArea(document.getElementById("text_area_content"), {
                  lineNumbers: true,
                  tabSize: 2,
                  //value: startVal,
                  indentWithTabs: true,
                  mode: 'text/html',
                  autoCloseTags: {
                    whenOpening: true,
                    indentTags: 'none'
                  }

                });

              //SET SIZE
              self.editor.setSize("99%","100%");

        */
              /*

             //INIT EDITOR STYLES
               self.editorStyles = CodeMirror.fromTextArea(document.getElementById("text_area_styles"), {
                  lineNumbers: true,
                  tabSize: 2,
                  //value: startVal,
                  indentWithTabs: true,
                  mode: 'text/css',
                  autoCloseTags: {
                    whenOpening: true,
                    indentTags: 'none'
                  }

                });

              //SET SIZE
              self.editorStyles.setSize("99%","100%");
              //self.editor.setValue(startVal);*/

              /*
              //TABLESORT PAGES LIST
              self.sortList = new Tablesort(document.getElementById('FullList'), {
                descending: false
              });
              */

 //app.type = "1";


        //END FUNC MOUNTED     
        },
        methods: {
          ResetForm: function(){

              //GET FORM
              var form = $("#EditForm");


              console.log("Type Is:" + app.type);

              //IF PAGE
              if(app.type == '1'){

                  //form.attr('action','/{{.Globals.AdminSlug}}/pages/list/');
                  //form[0].reset();

                  var textareaItem = $("#text_area_content"); //$("#EditForm textarea[name='content']");
                      textareaItem[0].innerHTML = "";

                  app.editor.setValue("");

                         //SET DATA
                        pageItem.title = "";
                        pageItem.pagetitle = "";
                        pageItem.slug = "";
                        pageItem.description = "";
                        pageItem.keywords = "";
                        pageItem.single = "";
                        pageItem.content = "";
                        pageItem.row = "";
                        pageItem.url = '/{{.Globals.AdminSlug}}/pages/list/';

                        //SET NEWNESS
                        app.isNewBool = true;
              }

              //IF STYLES
              if(app.type == '2'){

                  //form.attr('action','/{{.Globals.AdminSlug}}/style/');
                  //form[0].reset();

                  var textareaItem = $("#text_area_styles");
                      textareaItem[0].innerHTML = "";

                  app.editorStyles.setValue("");

                         //SET DATA
                        styleItem.style_name = "";
                        styleItem.style_sheet = "";
                        styleItem.row = "";
                        styleItem.url = '/{{.Globals.AdminSlug}}/style/';

                        //SET NEWNESS
                        //app.isNewBool = true;
              }
             


            //END FUNC
            },
           submitForm: function(url){

            //var serialDataCheck = $("#EditForm").serialize();


            console.log(url);
            //console.log(serialDataCheck);


            //PAGES
            if(app.type == '1'){

            
              var titleVal = $("#input_title")[0].value;
              var editorVal = app.editor.getValue();
              var textareaItem = $("#EditForm textarea[name='content']");
                  
              //CHECK TITLE
              if(titleVal === ""){
                //ALERT
                swal(
                'No Title!',
                'You forgot to enter a Title',
                'error'
                ).catch(swal.noop);

                return;
              }

              //CHECK EDITOR
              if(editorVal === ""){
                //ALERT
                swal(
                'No Content!',
                'You did not enter any Content',
                'error'
                ).catch(swal.noop);

                return;
              }

              //GET IDE TEXT
              pageItem.content = editorVal;
              // myTextarea.innerHTML = editorVal;
               //textareaItem.innerHTML = editorVal;
              textareaItem[0].value = editorVal;



              //CHECK URL
              if(pageItem.url === "") {
                 pageItem.url = '/{{.Globals.AdminSlug}}/pages/edit/';
              }


             // var serialData = $("#EditForm").serialize();
              //var serialData2 = encodeURIComponent(pageItem);
             // var serialData2 = pageItem.serialize();

                  //AJAX
                  $.ajax({
                     type: "POST",
                    //contentType: "application/json",
                    //dataType: 'json',
                     url: pageItem.url,
                    // data: serialData,
                    data: pageItem,//JSON.stringify(pageItem),
                     success: function(res){


                           swal(
                            res.message,
                            'Item was saved successfully!',
                            'success'
                          ).catch(swal.noop);

                        
                        //IF KEY -> NEW ITEM
                        if(res.key){
                              console.log(res);


                           var newObj = {
                                title: res.title,
                                slug: res.slug,
                                key: res.key,
                                type: res.key,
                              }

                            //ADD TO LIST
                            app.items.push(newObj);


                            //SET DATA
                            pageItem.row = String(app.items.length-1);
                            pageItem.url = '/'+res.adminSlug+'/pages/edit/'+res.key;

                            //SETUP SUBMIT URL
                            //var titleURL   = '/'+res.adminSlug+'/pages/edit/'+res.key;

                            //UPDATE FORM ACTION
                           // var form = $("#EditForm");
                                //form.attr('action',titleURL);

                            //SET NEWNESS
                            app.isNewBool = false;

                        //NO KEY-> OLD ITEM
                        } else {
                          
                              //UPDATE LIST ITEM
                              var changedRow = Number(pageItem.row);
                              app.items[changedRow].title = pageItem.title;
                              app.items[changedRow].slug = pageItem.slug;

                        }

                    //END SUCCESS
                    }

                   //END AJAX 
                   });

                //END PAGES
                }

            //STYLES
            if(app.type == '2'){

            
              var titleVal = styleItem.style_name; //$("#input_title")[0].value;
              var editorVal = app.editorStyles.getValue();


              //var textareaItem = $("#EditForm textarea[name='content']");
              var textareaItem = $("#text_area_styles");
                  textareaItem[0].value = editorVal;

              //CHECK URL
              if(styleItem.url === "") {
                 styleItem.url = '/{{.Globals.AdminSlug}}/style/';
              }

              styleItem.style_sheet = editorVal;

                  
              //CHECK TITLE
              if(titleVal === ""){
                //ALERT
                swal(
                'No Title!',
                'You forgot to enter a Title',
                'error'
                ).catch(swal.noop);

                return;
              }

              //CHECK EDITOR
              if(editorVal === ""){
                //ALERT
                swal(
                'No Content!',
                'You did not enter any CSS Content',
                'error'
                ).catch(swal.noop);

                return;
              }

              //GET IDE TEXT
              //pageItem.content = editorVal;
              // myTextarea.innerHTML = editorVal;
               //textareaItem.innerHTML = editorVal;



             // var serialData = $("#EditForm").serialize();
              //var serialData2 = encodeURIComponent(pageItem);
             // var serialData2 = pageItem.serialize();

                  //AJAX
                  $.ajax({
                     type: "POST",
                    //contentType: "application/json",
                    //dataType: 'json',
                     url: styleItem.url,
                    // data: serialData,
                    data: styleItem,//JSON.stringify(pageItem),
                     success: function(res){

                        console.log(res);

                           swal(
                            res.message,
                            'Item was saved successfully!',
                            'success'
                          ).catch(swal.noop);

                        
                        //IF KEY -> NEW ITEM
                        if(res.key){

                              console.log(res);

                              var newObj = {
                                StyleName: res.StyleName,
                                key: res.key
                              }

                            //ADD TO LIST
                            app.styles.push(newObj);                     


                            //SET DATA
                            styleItem.row = String(app.styles.length-1);
                            styleItem.url = '/'+res.adminSlug+'/style/edit/'+res.key;


                            

                            //UPDATE FORM ACTION
                           // var form = $("#EditForm");
                                //form.attr('action',titleURL);

                            

                            //SET NEWNESS
                           // app.isNewBool = false;

                        //NO KEY-> OLD ITEM
                        } else {
                          
                              //UPDATE LIST ITEM
                              var changedRow = Number(styleItem.row);
                              app.styles[changedRow].StyleName = styleItem.style_name;
                              //app.styles[changedRow].slug = pageItem.slug;

                        }

                    //END SUCCESS
                    }

                   //END AJAX 
                   });

                //END PAGES
                }


            //END FUNC
            }
        
        //END METHODS  
        }


      //END VUE
      });


</script>



