
/*****************************START DESKTOP****************************/
body {
  overflow-x: hidden;
}

.swal2-container {
  z-index: 9999 !important;
}

/****VUE***/
  #app {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin: 0 1%;
  }


/*******
SWITCH
http://www.w3schools.com/howto/howto_css_switch.asp
*****/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
    width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
    height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: LimeGreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#showHTML {
  text-align: right;
}

#showHTML .switch,
#form_page_single .switch {
    width: 50px;
  height: 24px;
}

#showHTML .slider:before,
#form_page_single .slider:before {

    height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
}



@media screen and (min-width:888px) {






  #header {
    background: #000;
    height: 34.5px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
        z-index: 7777;

  }


  /***MENU***/
  #menu {
    background: transparent; 
    height: auto;
    padding: 0px;
    width: 670px;
    position: fixed;
    left: 0%;
    top: 0px;
    margin-left: 250px;
        z-index: 8888;

  }

  #TopMenu {
  background: transparent;
  width: 250px;
  padding: 5px;
  text-align: center;
  color: #999;
  display: block;
  margin-right: 20px;
  margin-top: 5px;
  float:right;

}

#TopMenu a {
  width: auto;
  height:20px;
  display: inline-block;
      font: 12px arial;
      color: #999;
      padding: 0px;
      margin: 0px;
}

#SM_ViewSite,#SM_LogOut {
  display: none;
}

  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: auto;
    position: fixed;
    left: 80px;
    margin-right: 0px;
 
        z-index: 8888;

  }

  ul.topnav li {
    float: left; 
    position: relative;
        border-right: 1px solid #777;

  }

  ul.topnav li a {
    display: inline-block;
    color: #ccc;
    text-align: left;
    padding: 8px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
  }


  ul.topnav li:first-child {
    border-left: 1px solid #777;

  }


  ul.topnav li a:hover {
    background-color: #555; 
    color: #F7CF49;
  }

  div.icon {
    display: none;
  }


/*********SUB MENU**********/
div.sub_shell:hover a.sub_link {
    background-color: #333; 
    color: #F7CF49;
}

 ul.sub_menu {
  width: 160px;
  height: auto;
  background: #333;
  position: absolute;
  top: 34.5px;
  left: 0px;
  display: none;
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px 0px;
 }

  ul.sub_menu li {
    width: 100%; 
    margin: 0px;
        border-right: 0px;

  }


  ul.sub_menu li a {
    width: 90%;
    background: transparent;
    padding: 8px 0px 8px 16px;
    margin: 0px;
    border-top: 1px solid #888;
  }

  ul.sub_menu li:first-child a {
    border-top: none;
}


  ul.topnav li:hover ul.sub_menu  {

      display: block;
     
  }

  ul.topnav li a.sub_link  <  ul.sub_menu:hover {

    background-color: #99291E; 
    color: #F7CF49;
  }


/**************************************************OLDER CODE BELOW FROM common.css************************/


/*********************CONTENT******************/
section#content {
  width: 100%;
  background: transparent;
  margin-top: 0px;
  color: #000;
  font: 12px arial;
  padding: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

#footer {
  width: 100%;
  height: 12px;
  background: #444;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #dcdcdc;
  font: 9.5px arial;
  text-align: center;
  padding: 3px 0px;
  z-index: 9999;
}


/*******FORMS************/
textarea.control_forms {
  width: 500px;
  height: 200px;
  border: 0px;
}


/*************TITLE*****************/
section h2 {
  font: bold 14px arial;
  font-variant: small-caps;
}


/****COPYRIGHT***/
#copyright {
  color: #999;
}
/****PRELOADER***/
#preloader {
  opacity: 0;
  width: 70px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 2px;
  margin: -45px 0px 0px -45px;
  text-align: center;
  background: #000;
  border-radius: 5px;
  padding: 10px 0px;

}

#preloader img {
  width: 50px;
}


.panel {
  background: transparent;
  width: 100%;
  margin-left: 0px;
  float: left;
  height: auto;
  padding: 0%;
  margin-top: 10px;
  border: 0px solid #ddd;
}

section#content.settings .panel {
  margin: 0px auto;
  float: none;
}


/*****DOCUMENT BUTTONS*****/

#DocBtns {
  width: 100%;
  background: transparent;
 
  margin-bottom: 10px;
}

#AddButton {
  width: 30px;
    float: left;
    margin-left: 10px;
  /*  position: absolute;
    z-index: 999;
    top: 0px;
    right: 100px;*/
}

#AddButton a {
      padding: 3px;

        font: 14px arial;
    color: #fff;
  display: block;
  background: #999;
  border: 0px;
    border-top-right-radius: 3px;
top: 3px;
  border-top-left-radius: 3px;
  text-align: center;
  position: relative;
      z-index: 999;
  text-transform: uppercase;

}

#AddButton a:hover {
      padding: 4px;
      top: 1px;
      background: #ddd;
}

#form_page_savebtn {
  width: 88%;
  display: block;
  margin: 10px 0px 20px 20px;

}
#form_page_savebtn input[type="submit"] {
    width: 100%;
    padding: 10px;
    font: 14px arial;
    color: #fff;
  display: block;
  background: #555;
  border: 0px;
  border-radius: 2px;
  margin-left: 0px;
  text-transform: uppercase;
}

#AddNewButton {
  width: 80%;
  display: block;
  margin: 10px 0px 30px 10px;

}
#AddNewButton a {
    width: 100%;
    padding: 10px;
    font: 14px arial;
    color: #fff;
  display: block;
  background: #555;
  border: 0px;
  border-radius: 2px;
  margin-left: 0px;
  text-transform: uppercase;
  text-align: center;
}


#form_page_savebtn input[type="submit"]:hover,
#AddButton a:hover,
#AddNewButton a:hover {
  background: #999;
  cursor: pointer;

}

#form_page_title input{
  /*
  width: 700px;
  height: 30px;
  padding: 4px;
  font: 18px arial;
  color: #999;
    border: 0px;
  */
}

#form_page_content textarea {
    width: 800px;
  height: 1000px;
  padding: 4px;
  font: 18px arial;
  color: #999;
  border: 0px;
}
#form_page_desc {
  
}
#form_page_keyw {
  
}
input#input_slug {
 
  font: 12px arial;
  color: #333;
  background: #fff;
   

}

input#input_slug:focus {

  background: #dcdcdc;
}

#form_page_template {
  
}

#form_page_js {
  
}

#form_page_css {
  
}

/*****SIDEBAR*****/
#Sidebar {
  
  height: 100%;
  background: #dcdcdc;
  
  /*
    width: 300px;
  z-index: 5000;

  position: absolute;
  right: 0px;
  top: 70px;
  */
  overflow-x: display;
  
  padding: 6px;

  border-left: 0px solid #ccc;
  border: 0px solid #999;
  border-radius: 0px;
  border-bottom-left-radius: 2px;

}


#SidebarCloseBtn {
  width: 14px;
  height: 30px;
  background: #ccc;
  color: #888;
  position: absolute;
  left:-18px;
  top: 8px;
  text-align: center;
  padding: 2px;
  cursor: pointer;
  font: 12px arial;
}

#LeftPanelCloseBtn {
  width: 14px;
  height: 30px;
  background: #ccc;
  color: #888;
  position: absolute;
  left:99%;
  top: 8px;
  text-align: center;
  padding: 2px;
  cursor: pointer;
  font: 12px arial;
}




#Sidebar .panel {

  background: #dcdcdc;
}


/********SIDEBAR TD LINKS*********/
.deleteItemTD {
display: block;
float: right;
width: auto;
background: #999;
position: absolute;
right: 10px;
padding: 1px 7px 4px 7px;
border-radius: 10px;
}

.deleteItemTD a:before {content:'';}
.deleteItemTD a:after {content:'';}

td.deleteItemTD a {
 color: #ccc;
 padding: 0px;
 font: 10px arial;
 margin: 0px;
}

td.deleteItemTD a:hover {
 color: #333;
 }

a.listItem {
  text-decoration: underline;
 color: #333;
 padding-left: 3px;
 border-left: 0px solid #555;
}

#shell {
  margin-top: 10px;
  margin-left: 300px;
  background: transparent;
}

/**********Pagebar***********/

#PageBarGutter {
  width: 0px;
  height: 30px;
  background: transparent;
  float: left;
  display: none;
}



#PageBar {
width: 100%;
height: auto;
padding-left: 0px;

margin-left: 40px;
background: #fff;
}


#PageBar input,
#PageBar select{
  padding: 4px 7px;
  padding-right: 0px;
  font: 22px arial;
  border: 1px solid #ddd;
  margin-top:0px;
  width: 100%;
  background: #f7f7f7;
}

#PageBar input {
    color: #999;
   max-width: 300px;

}

#PageBar input:focus {
    color: #333;
    background: #ffffcc;
    font-style: italic;

}

.CodeMirror {
    margin-top: 15px;
  border: 1px solid #ddd;
}

#form_page_editor,#form_page_header {
  margin-left: 7px;
}

#form_page_version {
  float: left;
}

.PageTitle {
  text-align: left;
  padding: 0px;
  font: 14px arial;
  color:#fff;
  text-transform: uppercase;
  margin-top: 7px;
  margin-left: 30px;
}

.PageTitle:before {
  content:'>>  ';
}

h2.PageBarTitle {
  float: left;
  display: block;
  text-align: center;
}
#SelectDiv {
  float: left;
}
#SelectDataType {
  width: 140px;
}

#SelectTypeName {
    float: left;
  width: 220px;
}

#form_page_title {
}
#form_page_slug {
  position: relative;
}

#form_page_slug input {
  padding-left: 8px;
}

#slugPrefixItem {
  position: absolute;
  left: 11px;
  top: 24px;
  font: 12px arial;
  color: #999;
}

#slugPrefixType {
  position: absolute;
  left: 11px;
  top: 32px;
  font: 12px arial;
  color: #999;
}

/*
#SEO_BOX_BG {
  width: 300px;
  background: #999;
  margin-left: -210px;
  margin-top: 0px;
  padding-left: 10px;
  padding-top: 10px;
}


#SEO_BOX {
  width: 100px;
  height:200px;
  float: left;
    margin-left: -78px;
    margin-top: 3px;
    position: relative;
    z-index: 9000;
    right: 30px;
}


#SEO_BOX summary {
  font: bold 14px arial;
  color: #333;
  padding: 9px;
  margin: 1px 0px 0px 0px;
  outline: none;
  cursor:pointer;
  background: #999;
  border-radius: 1px;
}
details#SEO_BOX {
  margin-bottom: 2px;
}

details#SEO_BOX input {
  width: 90%;
  padding: 8px 4px;
  font: 12px arial;
  margin-bottom: 10px;
  margin-left: 5px;
}

details#SEO_BOX label {
  margin-left: 5px;
}*/


/*********TABS**********/
/*
#tabs input[type='input'] {
    width: 100%;
  padding: 0px;
  font: 12px arial;
  margin-bottom: 10px;
  margin-left: 5px;
}
*/
#tabs {
    width: 100%;
  height: 100%;
    background: transparent;
    position: relative;
    z-index: 1;
}

.tab {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
      padding: 0px;
      background: transparent;

}

#tabs textarea {
  width: 720px;
  height: 410px;
  padding: 10px;
}



#buttons {
  width: auto;
  text-align: left;
  margin-top: 20px;
  margin-left: 80px;
}
#buttons a {
  display: inline-block;
  padding: 8px 40px 14px 40px;
  background: #999;
  color: #fff;
  font: 14px arial;
  border-radius: 5px;
  margin-bottom: -10px;
}
#buttons a:hover {
  background: #777;
}

#buttons a.active {
  background: #555;
}


#tab1 {
    z-index: 1;
}


/***********MENU***********/
 #MAIN_TABS {
    width: 100%;
  height: 100%;
    background: transparent;
    position: relative;
    z-index: 1;
}

 .maintab {
    width: 60%;
    height: 100%;
    position: fixed;
    left: 14%;
    top: 0px;
    z-index: 0;
      padding: 20px;
      background: #fff;

}

#MAIN_TABS textarea {
  width: 720px;
  height: 410px;
  padding: 10px;
}



#main_buttons {
  width: auto;
  text-align: left;
  margin-top: 0px;
  margin-left: 0px;
}
#main_buttons a {
  display: inline-block;
  padding: 9px 30px;
  background: #999;
  color: #fff;
  font: 14px arial;
  border-radius: 2px;
  margin-bottom: 0px;
}
#main_buttons a:hover {
  background: #777;
}

#main_buttons a.active {
  background: #555;
}

 #main_tab1 {
    z-index: 1;
}


/*********TABS SIDEBAR**********/
#Sidebar #buttons {

  margin-left: 10px;
}
#Sidebar #buttons a {
  padding: 8px 40px 14px 40px;

}



#PAGES_SEO_TAB {
  width: 70%;
  padding: 20px;
}

#PAGES_SEO_TAB input[type='input'] {
  font: 18px arial;
  padding: 2px 4px;
  border: 1px solid #dcdcdc;

}


#ItemFields {
  width: 90%;
  padding: 1%;
}

#ItemFields input {
  font: 18px arial;
  padding: 2px 4px;
  width: 100%;
}

#ItemFields input[type='date'] {
  width: 200px;
  font: 18px arial;
}

#ItemFields textarea {
  width: 100%;
    font: 18px arial;

}


/*******NEW ITEMS LIST*********/
#ItemsList {
  position: fixed;
  z-index: 7777;
  width: 1000px;
  height: 90%;
  background: #333;
  opacity: 1;
  padding: 20px;
  left: 0%;
  margin-left: 0;
  display: none;
}

#ItemsList a {
  color: #ccc;
}


/***********************************EDITOR***********************************/
  label {
    /*
    display: inline-block;
    width: 80px;*/
  }

  textarea {
    min-height: 400px;
  }

.TabEdit {
  width: auto;
  float: left;
  position: relative;
  padding: 0px;
  background: #f7f7f7;
  border:1px solid #ddd;
  border-bottom: 0px;
  margin-right: 3px;
  border-radius: 3px;
}

.TabEdit.active #input_title {
  background: #999;
  color: #fff;
}

.TabTitle[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  max-width: 250px;
  min-width: 80px;
  max-height: auto;
  display: inline-block;
}


#LeftPanel table td {
  padding: 0px;
}

#Editor {
  position: relative;
  width: 98%;
  display: grid;
  grid-template-columns: 15% 80% 20%;
  grid-gap: 20px;
}
/*
#Editor {
  width: 98%;
    display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-gap: 20px;
}*/

#Editor #LeftPanel {
  position: fixed;
  left: 0px;
  top: 25px;
  width: 15%;
  height: 100%;
  z-index: 10;
  background: #ccc;
  padding-top: 0px;
}

#Editor #CenterPanel {
  position: absolute;
  left: 14%;
  top: 50px;
  width: 85%;
  margin-bottom: 20px;
}

#Editor #RightPanel {
  position: fixed;
  right: 0px;
  top: 25px;
  width: 23%;
  height: 100%;
  z-index: 2222;
  background: #ccc;

}



  #ItemLinkShell table{
    
  }

  #editor-container {
  height: 375px;
  background: #fff;
}

.hiddenTextarea {
  display: none;
}

#ListShell {
  width: 100%;
  padding: 0px;
  background: #ccc;
  position: absolute;
}


#List, #FullList {
  position: absolute;
}


#FIELDS_BOX,#Sidebar,#OPTIONS_BOX {
  margin-left: 0px;
}

.itemEditTD {
  width: 85%;
}

#editor_bottom_gutter {
  width: 60%;
  height: 100%;
  background: #f7f7f7;
  border: 1px solid #d1d1d1;
  border-top: 0px;
  overflow: hidden;
  margin-top: -2px;
  position: fixed;
  z-index: 1111;
  border-right: 0px;
  left: 16%;
  margin-left: 1px;
}

#gutter_white {
  width: 100%;
  height: 100%;
  margin-left: 29px;
  border-left: 1px solid #d1d1d1;
  background: #fff;
}




/*END DESKTOP*/
}
