body {
  margin: 0px;
  padding: 0px;
  background: #fff;
  /*
  background: #f0f0f0  url('../img/patterns/wood_black.jpg');
  */
  font-family: arial;
  touch-action: manipulation;
}


h2,h3,h4 {
  padding: 0px;
  margin: 0px;
}

input {
  pointer-events: auto;
}
textarea {
  pointer-events: auto;
  overflow: auto; 
}

textarea:focus, input:focus{
    outline: none;
}



iframe {
  border: 0px;
  frameBorder: 0px;
}

img {
  border: 0px;
  /* REQUIRED FOR AJAX
  pointer-events: none;*/
}



a {
  border: 0px;
  text-decoration: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  outline: none;
}



.clear {
  width: 100%;
  height: 0px;
  clear: both;
}
.center {
  margin: 0px auto;
}
.w960 {
  width: 960px;
}

.R50 {
  width: 40%;
  float: right;
}

.L50 {
  width: 40%;
  float: left;
}



/*

table td {
  padding: 5px 10px;
}

header {
  width: 100%;
  height: 30px;
  border-bottom: 0px solid #999;
  background: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  color: #FFF;
  text-align: center;
  padding: 5px 0px;
  z-index: 100;
}

input:focus {
  background: #dcdcdc
}

summary {
  font: bold 14px arial;
  color: #333;
  padding: 9px;
  margin: 0px 0px 10px 0px;
  outline: none;
  cursor:pointer;
  background: #555;
  border-radius: 1px;
}
details {
  margin-bottom: 2px;
}
details input {
  width: 90%;
  padding: 8px 4px;
  font: 12px arial;
  margin-bottom: 10px;
  margin-left: 5px;
}

details label {
  margin-left: 5px;
}
*/
#header {
  margin-bottom: 20px;
}




/*******
SWITCH
http://www.w3schools.com/howto/howto_css_switch.asp
*****/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
    width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
    height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: LimeGreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#showHTML {
  text-align: right;
}

#showHTML .switch,
#form_page_single .switch {
    width: 50px;
  height: 24px;
}

#showHTML .slider:before,
#form_page_single .slider:before {

    height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
}
