
  label {
    /*
    display: inline-block;
    width: 80px;*/
  }

  textarea {
    min-height: 400px;
  }

.TabEdit {
  width: auto;
  float: left;
  position: relative;
  padding: 0px;
  background: #f7f7f7;
  border:1px solid #ddd;
  border-bottom: 0px;
  margin-right: 3px;
  border-radius: 3px;
}

.TabEdit.active #input_title {
  background: #999;
  color: #fff;
}

.TabTitle[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  max-width: 250px;
  min-width: 80px;
  max-height: auto;
  display: inline-block;
}


#LeftPanel table td {
  padding: 0px;
}

#Editor {
  position: relative;
  width: 98%;
  display: grid;
  grid-template-columns: 15% 80% 20%;
  grid-gap: 20px;
}

#Editor #LeftPanel {
  position: fixed;
  left: 0px;
  top: 25px;
  width: 15%;
  height: 100%;
  background: #ccc;
  padding-top: 45px;
}

#Editor #CenterPanel {
  position: absolute;
  left: 16%;
  top: 50px;
  width: 85%;
  margin-bottom: 20px;
}

#Editor #RightPanel {
  position: fixed;
  right: 0px;
  top: 25px;
  width: 23%;
  height: 100%;
  z-index: 5555;
  background: #ccc;

}



  #ItemLinkShell table{
    
  }

  #editor-container {
  height: 375px;
  background: #fff;
}

.hiddenTextarea {
  display: none;
}

#ListShell {
  width: 100%;
  padding: 0px;
  background: #ccc;
  position: absolute;
}

#FullList {
  position: absolute;
}


#FIELDS_BOX,#Sidebar,#OPTIONS_BOX {
  margin-left: 0px;
}

.itemEditTD {
  width: 85%;
}

#editor_bottom_gutter {
  width: 60%;
  height: 100%;
  background: #f7f7f7;
  border: 1px solid #d1d1d1;
  border-top: 0px;
  overflow: hidden;
  margin-top: -2px;
  position: fixed;
  z-index: 1111;
  border-right: 0px;
  left: 16%;
  margin-left: 1px;
}

#gutter_white {
  width: 100%;
  height: 100%;
  margin-left: 29px;
  border-left: 1px solid #d1d1d1;
  background: #fff;
}
