<template id="TheFooter" :checks="checks" :info="info">
  
  
  <!--FOOTER-->
  <div id="footer" class="columns">

      <div class="column is-1">
        <span class="icon is-small">
            <i class="fa fa-database" aria-hidden="true"></i>
        </span>
        <span>
          <a  href='https://console.cloud.google.com/storage/browser' target="_blank">Datastore</a>
        </span>
      </div>

      <div class="column is-7">
        <span class="icon is-small">
            <i class="fa fa-server" aria-hidden="true"></i>
        </span>
        <span>
          <a  href='https://console.cloud.google.com/appengine' target="_blank">${info.serverSoftware}</a>
        </span>
      </div>



<!--SERVER INFO-->
<div id="ServerInfo" class="column is-4">

  <div class="columns">

     <!--SERVICE CHECKS-->
      <div class="column is-3">
                 <span :class="checks.checkServices">
                   <i class="fa fa-circle" aria-hidden="true"></i>
                </span>
                   <span>&nbsp;&nbsp;ONLINE</span>
         </div>

     <!--VERSION-->
      <div id="InfoVersion" class="column is-2">
         <i class="fa fa-code-fork" aria-hidden="true"></i>
          <span>&nbsp;${info.versionID}</span>
      </div>

    <!--LOCATION-->
      <div id="InfoLocation" class="column is-5 icon">
             <i class="fa fa-cloud" aria-hidden="true"></i> 
              <span>&nbsp;${info.dataCenter}</span>
      </div>

      <!--SOFTWARE
      <div class="column is-3 icon">
             <i class="fa fa-server" aria-hidden="true"></i> 
              <span>${info.serverSoftware}</span>
      </div>-->
    

  



</div>





<!--END FOOTER-->
  </div>
</template>

<script>
module.exports = {
  template: '#TheFooter',
  delimiters: ['${', '}'],

  props: ['logout','adminurl'],
  data: function() {
    return {
      msg: 'Hello world!',
      checks: Object,
      info: Object,
    }
  },
 mounted: function(){

      var self = this;
      var adminURL = self._props.adminurl;

       //LOAD SETTINGS INFO
             $.ajax({
               type: "GET",
                url: "/" + adminURL + "/settings/info",
                success: function(res){
                  console.log(res);
                  console.log(self);
                  self.info = res;

               }
             });

            //LOAD SETTINGS CHECKS
             $.ajax({
               type: "GET",
                url: "/" + adminURL + "/settings/checks",
                success: function(res){
                  console.log(res);
                  console.log(self);
                  self.checks = res;
               }
             });


     

                  $("#InfoVersion span")[0].innerHTML.replace("-",".");



  //END MOUNT
  },
  methods:{



    //END METHODS
  }

//END COMP
}
</script>

<style>

#footer {
  position: fixed;
  bottom: 0px;
  background: #333;
  width: 100%;
  padding: 0px 0px 10px 0px;
  padding-left: 2%;
  padding-right: 0%;
  z-index: 1000;
  color: #ccc;
}

#UserInfo {
}

ul#ServiceChecks li {
  height: 36px;
}


.checkOnline .fa {
  color: #0f0;
}

.checkOffline .fa {
  color:#f00;
}

ul#ServiceChecks li span {
  color:#000;
    font-size: 14px;
    text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

#InfoLocation {
  text-transform: uppercase;
}
</style>