<template id="Panel-Btn-Save">
	
    <!--SAVE BTN-->
    <a id="form_page_savebtn"  @click="saveItem" class="button is-light is-primary is-fullwidth" ref="saveItem" title="Save (ctrl+s)">
      <span class="icon is-small">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </span>
     <span>Save</span>
    </a>

</template>

<script>
module.exports = {
	template: '#Panel-Btn-Save',
	delimiters: ['${', '}'],
   	methods: {
    saveItem: function(e){
      
      e.preventDefault();
      
      //var form = $("#EditForm")[0];
      //app.$options.methods.submitForm(form.action);
      //var url = form.action;

           // console.log(url);
            console.log(app);


            //PAGES/////////////////////////////////////////////////////////////////////////
            if(app.type == '1'){

              console.log("saving page...")
              app.$refs.centerPanel.$refs.editorPages.savePage();

            }

            //STYLES/////////////////////////////////////////////////////////////////////////
            if(app.type == '2'){

                console.log("saving style...")
                app.$refs.centerPanel.$refs.editorStyles.saveStyle();
            }

            //THEMES/////////////////////////////////////////////////////////////////////////
            if(app.type == '3'){

              console.log("saving theme...")
              app.$refs.centerPanel.$refs.editorThemes.saveTheme();

            } 

            if(app.type == '5'){
              console.log("saving settings...")
              app.$refs.centerPanel.$refs.editorSettings.saveSettings();
            }

    //END FUNC SAVE
    }

  //END METHODS
  }
//END MODULE
}
</script>