<template id="Panel-Btn-Left">
	<!--CLOSE BTN LEFT-->
    <div id="LeftPanelCloseBtn">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
    </div>
</template>

<script>
module.exports = {
  template: '#Panel-Btn-Left'
}
</script>