<template id="Panel-Btn-Right">
	<!--CLOSE BTN RIGHT-->
    <div id="SidebarCloseBtn">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
     </div>
</template>

<script>
module.exports = {
  template: '#Panel-Btn-Right'
}
</script>