<template id="Panel-Btn-New">
	<!--NEW BTN-->
    <a id="AddNewButton" @click="newItem" class="button is-primary is-fullwidth"  ref="newItem" title="New">
    <span class="icon is-small">
      <i class="fa fa-file-o" aria-hidden="true"></i>
    </span>
    <span>New</span>
    </a>
</template>

<script>
module.exports = {
  template: '#Panel-Btn-New',
   methods: {
    newItem: function(e){
      e.preventDefault();
     
      //app.$options.methods.ResetForm();
              var form = $("#EditForm");


              console.log("Type Is:" + app.type);

              //IF PAGE
              if(app.type == '1'){

                  //form.attr('action','/{{.Globals.AdminSlug}}/pages/list/');
                  //form[0].reset();

                  var textareaItem = $("#text_area_content"); //$("#EditForm textarea[name='content']");
                      textareaItem[0].innerHTML = "";

                  app.editor.setValue("");

                         //SET DATA
                        pageItem.title = "";
                        pageItem.pagetitle = "";
                        pageItem.slug = "";
                        pageItem.description = "";
                        pageItem.keywords = "";
                        pageItem.single = "";
                        pageItem.content = "";
                        pageItem.row = "";
                        pageItem.url = '/'+app.adminurl+'/pages/list/';

                        //SET NEWNESS
                        app.isNewBool = true;
              }

              //IF STYLES
              if(app.type == '2'){

                  //form.attr('action','/{{.Globals.AdminSlug}}/style/');
                  //form[0].reset();

                  var textareaItem = $("#text_area_styles");
                      textareaItem[0].innerHTML = "";

                  app.editorStyles.setValue("");

                         //SET DATA
                        styleItem.style_name = "";
                        styleItem.style_sheet = "";
                        styleItem.row = "";
                        styleItem.url = '/'+app.adminurl+'/style/';

                        //SET NEWNESS
                        //app.isNewBool = true;
              }

                      //IF THEMES
              if(app.type == '3'){

                  //form.attr('action','/{{.Globals.AdminSlug}}/style/');
                  //form[0].reset();
                    /*
                  var textareaItem = $("#text_area_styles");
                      textareaItem[0].innerHTML = "";

                  app.editorStyles.setValue("");

                         //SET DATA
                        styleItem.style_name = "";
                        styleItem.style_sheet = "";
                        styleItem.row = "";
                        styleItem.url = '/'+app.adminurl+'/style/';

                        //SET NEWNESS
                        //app.isNewBool = true;
                        */
                        console.log("resetting themes editor");
              }

    }
  }
}
</script>