<!--******************************* OPTIONS FILES*******************************-->
<template id="OptionsFiles">

      <!--OPTIONS FILES-->
     <details open>
     <summary>Upload Files</summary>

        <!--UPLOAD SHELL-->
        <div id="UploadShell">

        <!--FORM-->
        <form id="EditForm" action="" method="post" enctype="multipart/form-data">
          
          <!--UPLOAD INPUT-->
          <input id="InputFileUpload"   class="file-input" type="file" name="files" multiple="multiple">



          <br>

          <!--PROGRESS BAR-->
          <progress id="ProgressBar" value="0" max="100">Uploading image...</progress>
          <div id="ProcessImgMsg"><div class="loader"></div>Loading image...</div>
          <br>
          <!--SUBMIT BTN-->
          <input id="SubmitBtn"  @click="uploadFile" type="submit" name="submit" value="Upload">

        <!--END FORM-->
        </form>

        <!--END UPLOAD SHELL-->
        </div>
    </details>

</template>

<script>
/************************* OPTIONS FILES ****************************/
module.exports = {
  template: '#OptionsFiles',
  props: ['files'],
  delimiters: ['${', '}'],
  data: function(){
   return fileItem;
  },
  mounted: function(){

      $("#InputFileUpload").change(function(event){
      console.log(event);

      var files = event.target.files || e.dataTransfer.files;


      for(var i in files){
       // formdata.append("images[]", files[i]);
      }

      $("#SubmitBtn").show();

      console.log(files);
      //console.log(formdata);

    //END CHANGE
    });

/*
     //CLICK SUBMIT BUTTON
    $("#EditForm").on('submit',function(event){
      
      event.preventDefault();

            //AJAX
        $.ajax({
           type: "GET",
           url: "upload",
           success: function(res){
             //GRAB URL 
             var url = res.uploadURL;

            $("#ProgressBar").show();

              //SUBMIT
              this.submitForm(url);
           }

        //END AJAX
        });

    //END CLICK
   });
*/

   var self = this;

//ACTIVATE SCRIPTS
self.onDelete();
self.onLightBox();


  },
  methods:{

    uploadFile: function(){


        event.preventDefault();

         //NEEDED
        var self = this;

        //AJAX
        $.ajax({
           type: "GET",
           url: "/admin/files/upload",
           success: function(res){
             //GRAB URL 
             var url = res.uploadURL;

            $("#ProgressBar").show();

            console.log(this);

              //SUBMIT
              self.submitForm(url);
           }

        //END AJAX
        });

    },


    //SUBMIT FORM AJAX
 submitForm: function(url){

      var self = this;

  //FORM DATA OBJECT
  var formdata = new FormData();


  console.log($("#EditForm").serialize());
  console.log(url);

  $("#SubmitBtn").attr('disabled','true');

//REFERENCES
//https://developer.mozilla.org/en-US/docs/Web/API/FormData
//http://www.sitepoint.com/html5-javascript-file-upload-progress-bar/
//http://code.tutsplus.com/tutorials/uploading-files-with-ajax--net-21077
//https://gist.github.com/HenrikJoreteg/2502497



var fileSubmit = $('#InputFileUpload');
var FS = fileSubmit[0].form[0].files;

/*
var filereader = new FileReader();
    filereader.onloadend = function(e) { 
      console.log(e.target.result);
    };

  filereader.readAsDataURL(FS);
*/

for(var i in fileSubmit[0].form[0].files){
  //formdata.append('file-'+i, FS[i]);
  formdata.append("images[]", fileSubmit[0].form[0].files[i]);
  console.log(fileSubmit[0].form[0].files[i]);
}


console.log(formdata);


      //AJAX
      $.ajax({
         type: "POST",
         url: url,

          data: formdata,
          cache: false,
          contentType: false,
          processData: false,
          xhr: function(){
              

                var xhr = $.ajaxSettings.xhr();
                    xhr.upload.onprogress = function(evt){ 
                      var PercentFin = Math.floor(evt.loaded / evt.total * 100);
                      $("#ProgressBar")[0].value = PercentFin;

                        if(PercentFin >= 99){

                         $("#ProgressBar").hide();

                          $("#ProcessImgMsg").show();
                        }

                    };

                    return xhr;
          },

         success: function(res){

            console.log("Success returning from server!");
            console.log("Response below:");
            console.log(res);
            
        

              //RESET
              $("#SubmitBtn").removeAttr('disabled');
             // $("#EditForm")[0].reset();
             $("#InputFileUpload").val('');
              $("#ProgressBar")[0].value = "0";

                    $("#SubmitBtn").hide();


            self.LoadImages(res);
   
         }

      });
    

//END SUBMITFORM FUNC
},

LoadImages: function(res){

    console.log("Loading Images...");
  console.log(res);



  //IF SOMETHING
  if(res !== undefined){


  var imgs = res.files;



    //CUT NAMES OUT OF STRING
    var imgNames =  imgs.split("|");
    var deleteURL = res.imgKey;
    var adminSlug = res.adminSlug;
    console.log(imgNames);



    //FOR IMGS
    for(var i in imgNames){

      if(imgNames[i] != ""){

        var imgCount = $(".recentImg").length;
        var imgNum = imgCount;

        console.log(imgNames[i]);
        console.log("creating image...");

        var imgHTML = '<div id="img_'+imgNum+'" class="recentImg"><div class="thumbShell">';
            imgHTML += '<a href="/images/'+imgNames[i] +'" target="_blank" class="listImgItem lightbox">';
            imgHTML += ' <img class="thumb" src="/images/mobile/' + imgNames[i]+'" />';
            imgHTML += '</a></div>';
            imgHTML += '<a href="/images/'+ imgNames[i] +'" target="_blank"  class="viewFull">^</a>';
            imgHTML += ' <a href="/'+adminSlug+'/files/delete/'+ deleteURL +'" data-name="' + imgNames[i]+'" data-num="'+imgNum+'" class="deleteItem">x</a></div>';

          //PREPREND HTML
          $("#ImgList").prepend(imgHTML);


          //$("#EditForm").attr('action',res.uploadURL); //HANDLED WITH OWN URL
   
          var self = this;

          //REACTIVATE SCRIPTS
          self.onDelete();
          self.onLightBox();

          //HIDE IMG PROCESS MSG
          $("#ProcessImgMsg").hide();


           //ALERT
          alertify.success(res.message);

        }
      
      //END FOR
      }

  //END UNDEFINED
  } else {

      //ALERT
    alertify.error("image file not ready for display...");
    console.log("image was undefined");



  }

//END LOAD IMAGES
},

onDelete: function(){
  //CLICK DELETE BUTTON
  $("a.deleteItem").on('click',function(event){
      
      event.preventDefault();

      //GRAB URL
      var url = event.target.href;
      var imageName = event.target.dataset.name;
      var imgID = event.target.dataset.num;



      //GRAB ROW INDEX
      //var index = Number(event.target.parentNode.parentNode.rowIndex);
      
      //DEBUG
      console.log(url);
      console.log(imageName);
      console.log(imgID);
      // console.log($(event.target));
      //console.log(index);

    //CONFIRM SETUP
    alertify.set({ 
      labels: {
        ok:"Yes",
        cancel:"No"
      },
      buttonReverse:true

    });

    //CONFIRM
    alertify.confirm("Are you sure you want to delete the item?", function(e){

      //YES
      if(e){

        //AJAX
        $.ajax({
           type: "POST",
           url: url,
           data: {"imageName":imageName},
           success: function(res){
              
              //RESET FORM              
              //ResetForm(); 
              
              //DELETE ROW
              //$("#List")[0].deleteRow(index);
               $("#img_"+imgID).hide();

              //ALERT
              alertify.success(res);
           }

        //END AJAX
        });
      }

    //END CONFIRM       
    });
      

    //END CLICK
   });
//END FUNC ONDELETE
},

onLightBox: function(){
    //LIGHTBOX CLICK
  $(".lightbox").on('click',function(event){


        //PREVENT DEFAULT
        event.preventDefault();

        $("#lb_img").attr('src',"");


        var imgURL = event.currentTarget.href;
        var imgW = event.target.clientWidth;
        var imgH = event.target.clientHeight;


        if(imgW > imgH) {
          $("#lb_img").css('height','auto').css('paddingTop','20px');
        } else {
          $("#lb_img").css('height','90%').css('paddingTop','0px');;

        }


        //DEBUG
        console.log(event);
        console.log(imgURL);

        $("#lb_img").attr('src',imgURL);

        $("#lightbox").show();
  });
}




  //END METHODS
  }

//END COMP  
}
</script>