<!--******************************* EDITOR PAGES*******************************-->
<template id="EditorPages">

    <!--EDITOR-->
    <div class="CenterEditor">

          <!--PAGEBAR/TITLE INPUT
          <div id="PageBar">
            <input v-model="title" id="input_title"  type="input" name="title" placeholder="Title..." @keyup="updateSlug" class="input is-large control_forms" size="1px" />
          </div>-->

      <div  id="PageBar" class="field">
  <div class="control has-icons-left">
            <input v-model="title" id="input_title"  type="input" name="title" placeholder="Title..." @keyup="updateSlug" class="input is-large control_forms" size="1px" />
      <span class="icon is-medium is-left">
        <i class="fa fa-file-text-o"></i>
      </span>
  </div>
</div>


          <!--EDITOR-->
          <textarea id="text_area_content" name="content" rows="3" cols="25"  v-model="content" class="control_forms"></textarea>

    </div>

</template>



<script>
/************************* EDITOR PAGES ****************************/
module.exports = {
  template: '#EditorPages',
  props: ['items'],
  delimiters: ['${', '}'],
  data: function(){
   return pageItem;
  },
  mounted: function(){


  			//SET INITIAL APP TAB
  	        $("#app_tab1").css('zIndex', 1);

              //INIT EDITOR PAGES
               app.editor = CodeMirror.fromTextArea(document.getElementById("text_area_content"), {
                  lineNumbers: true,
                  tabSize: 2,
                  //value: startVal,
                  indentWithTabs: true,
                  mode: 'text/html',
                  autoCloseTags: {
                    whenOpening: true,
                    indentTags: 'none'
                  }

                });

              //SET SIZE
              app.editor.setSize("99%","100%");
  },

    methods: {
    updateSlug: function(e){
        
        e.preventDefault();

        //if(NewItem){
          if(app.isNewBool){

            //GET/SET TITLE
            var title = pageItem.title;
            pageItem.pagetitle = title;


            //STRING TO URL
            title = title.trim();
            title = title.replace(/\s/g,"-");
            title = title.toLowerCase();
            title = title.replace(/[^a-zA-Z0-9\-]/gi,"");
            title = title.replace(/\s+/g, '-') // No Whitespace
            title = title.replace(/-+/g, '-'); //  No Dashes


            //ASSIGN TITLE TO SLUG
           pageItem.slug = "/"+title;

          }

    //END FUNC UPDATESLUG
    },

    savePage: function(e){

       var titleVal = $("#input_title")[0].value;
              var editorVal = app.editor.getValue();
              var textareaItem = $("#EditForm textarea[name='content']");
                  
              //CHECK TITLE
              if(titleVal === ""){
                //ALERT
                swal(
                'No Title!',
                'You forgot to enter a Title',
                'error'
                ).catch(swal.noop);

                return;
              }

              //CHECK EDITOR
              if(editorVal === ""){
                //ALERT
                swal(
                'No Content!',
                'You did not enter any Content',
                'error'
                ).catch(swal.noop);

                return;
              }

              //GET IDE TEXT
              pageItem.content = editorVal;
              // myTextarea.innerHTML = editorVal;
               //textareaItem.innerHTML = editorVal;
              textareaItem[0].value = editorVal;



              //CHECK URL
              if(pageItem.url === "") {
                 //pageItem.url = '/'+app.adminurl+'/pages/edit/';
                 pageItem.url = '/'+app.adminurl+'/pages/list/';
              }


                  //AJAX
                  $.ajax({
                     type: "POST",
                    //contentType: "application/json",
                    //dataType: 'json',
                     url: pageItem.url,
                    // data: serialData,
                    data: pageItem,//JSON.stringify(pageItem),
                     success: function(res){


                        console.log(res);

                           swal(
                            res.message,
                            'Item was saved successfully!',
                            'success'
                          ).catch(swal.noop);

                        
                        //IF KEY -> NEW ITEM
                        if(res.key){
                              console.log(res);


                           var newObj = {
                                title: res.title,
                                slug: res.slug,
                                key: res.key,
                                type: res.key,
                              }

                            //ADD TO LIST
                            app.items.push(newObj);


                            //SET DATA
                            pageItem.row = String(app.items.length-1);
                            pageItem.url = '/'+res.adminSlug+'/pages/edit/'+res.key;

                            //SETUP SUBMIT URL
                            //var titleURL   = '/'+res.adminSlug+'/pages/edit/'+res.key;

                            //UPDATE FORM ACTION
                           // var form = $("#EditForm");
                                //form.attr('action',titleURL);

                            //SET NEWNESS
                            app.isNewBool = false;

                        //NO KEY-> OLD ITEM
                        } else {
                          
                              //UPDATE LIST ITEM
                              var changedRow = Number(pageItem.row);
                              app.items[changedRow].title = pageItem.title;
                              app.items[changedRow].slug = pageItem.slug;

                        }

                    //END SUCCESS
                    }

                   //END AJAX 
                   });

    //END SAVE PAGE FUNC  
    }

  //END METHODS
  }
}
</script>