<!--******************************* PANEL LEFT*******************************-->
<template id="Panel-Left">
  
  <!--LEFT PANEL-->
  <div id="LeftCol">

    <!--CLOSE
    <panel-btn-left></panel-btn-left>-->

    <!--LIST PAGES-->
    <list-pages :items="items"  :adminurl="adminurl" v-show="type == '1'"></list-pages>

    <!--LIST STYLES-->
    <list-styles :styles="styles"  :adminurl="adminurl" v-show="type == '2'"></list-styles>

    <!--LIST THEMES-->
    <list-themes :themes="themes"  :adminurl="adminurl" v-show="type == '3'"></list-themes>


    <!--LIST SETTINGS-->
    <list-settings  :adminurl="adminurl" v-show="type == '5'"></list-settings>

  <!--END LEFT PANEL-->
  </div>
</template>

<script>
//COMP PANEL LEFT
module.exports ={
  template: '#Panel-Left',
  props: ['items','styles','themes','type','adminurl'],
  delimiters: ['${', '}'],
   components: {
    'list-pages': httpVueLoader('/admin/static/dir/vue/pages_list.vue'),
    'list-styles': httpVueLoader('/admin/static/dir/vue/styles_list.vue'),
    'list-themes': httpVueLoader('/admin/static/dir/vue/themes_list.vue'),
    'list-settings': httpVueLoader('/admin/static/dir/vue/settings_list.vue'),

  }  
}
</script>