<!--******************************* PANEL CENTER*****************************-->
<template id="Panel-Center">

    <!--CENTER PANEL-->
    <div id="CenterCol">



                  <!--TABS-->
                   <div id="APP_TABS" class='theTabs'>


                      <!--TAB1-->
                      <div class="column is-8 apptabs" id="app_tab1">
                        <editor-pages ref="editorPages"></editor-pages>
                      </div>

                      <!--TAB2-->
                      <div class="column is-8 apptabs" id="app_tab2">
                        <editor-styles ref="editorStyles"></editor-styles>
                      </div>

                      <!--TAB3-->
                      <div class="column is-8 apptabs" id="app_tab3">
                        <editor-themes ref="editorThemes"></editor-themes>
                      </div>

                      <!--TAB4-->
                      <div class="column is-8 apptabs" id="app_tab4">
                        <editor-files :files="files" :adminurl="adminurl" ref="editorFiles"></editor-files>
                      </div>

                      <!--TAB5-->
                      <div class="column is-8 apptabs" id="app_tab5">
                        <editor-settings  :adminurl="adminurl" :settings="settings" ref="editorSettings"></editor-settings>

                      </div>

                    <!--END TABS-->
                    </div>

    <!--END CENTER PANEL-->
     </div>

</template>

<script>
//COMP PANEL CENTER
module.exports = {
  template: '#Panel-Center',
  props: ['items','files','adminurl','settings'],
  delimiters: ['${', '}'],
  components: {
    'editor-pages': httpVueLoader('/admin/static/dir/vue/pages_editor.vue'),
    'editor-styles': httpVueLoader('/admin/static/dir/vue/styles_editor.vue'),
    'editor-themes': httpVueLoader('/admin/static/dir/vue/themes_editor.vue'),
    'editor-files': httpVueLoader('/admin/static/dir/vue/files_editor.vue'),
    'editor-settings': httpVueLoader('/admin/static/dir/vue/settings_editor.vue'),

  }  
//END COMP
}
</script>