<!--******************************* LIST SETTINGS*******************************-->
<template id="ListSettings">
  
<!--STATS-->
  <div id="runtimeStats" :stats="stats">

    <details open>
     <summary>
       <div class="icon is-small">
       <i class="fa fa-tachometer" aria-hidden="true"></i> 
       <span>CPU</span>
       </div>
      </summary>
     <ul>
      <li> Total: ${stats.cpuTotal}</li>
       <li>  1M: ${stats.cpu1M}</li>
       <li>  10M: ${stats.cpu10M}</li>

       </ul>
     </details>

    <br />
    <details open>
     <summary> 
       <i class="icon is-small fa fa-microchip" aria-hidden="true"></i> 
       <span>RAM</span> 
    </summary>
     <ul>
      <li>   Current: ${stats.ramCurrent}</li>
      <li>   1M: ${stats.ram1M}</li>
      <li>   10M: ${stats.ram10M}</li>
      </ul>
     </details>
</div>


</template>

<script>
/************************* LIST SETTINGS ****************************/
module.exports = {
  template: '#ListSettings',
  props: ['settings','adminurl'],
  delimiters: ['${', '}'],
  data: function(){
   return {
      stats: Object,
    }
  },
  mounted: function(){

      var self = this;
      var adminURL = self._props.adminurl;

            //LOAD SETTINGS STATS
             $.ajax({
               type: "GET",
                url: "/" + adminURL + "/settings/stats",
                success: function(res){
                  //console.log(res);
                  //console.log(self);
                  self.stats = res;
               }
             });

  },
   methods: {


        //END METHODS
        }
  }

//END COMP  
//}
</script>