<!--******************************* OPTIONS SETTINGS*******************************-->
<template id="OptionsSettings" :checks="checks" :info="info">

<div>
     <!--SERVICE CHECKS
     <h3>Service Checks</h3>
          <ul id="ServiceChecks">
            <li :class="checks.checkDataRead"><i class="fa fa-circle" aria-hidden="true"></i><span>Database Read</span></li>
            <li :class="checks.checkDataWrite"><i class="fa fa-circle" aria-hidden="true"></i><span>Database Write</span></li>
            <li :class="checks.checkMail"><i class="fa fa-circle" aria-hidden="true"></i><span>Mail</span></li>
            <li :class="checks.checkCache"><i class="fa fa-circle" aria-hidden="true"></i><span>Memcache</span></li>
            <li :class="checks.checkBlob"><i class="fa fa-circle" aria-hidden="true"></i><span>Blobstore</span></li>
          </ul>


         <!--SERVER INFO
     <h3>Server Info</h3>
            
            <div><b>Data Center:</b> ${info.dataCenter}</div>
         
            <div><b>Server:</b> ${info.serverSoftware}</div>
          
            <div><b>Version:</b> ${info.versionID}</div>
          
            <div><b>User:</b> ${info.currentUser}</div>
-->

</div>
 

</template>

<script>
/************************* OPTIONS SETTINGS ****************************/
module.exports = {
  template: '#OptionsSettings',
  props: ['settings','adminurl'],
  delimiters: ['${', '}'],
   data: function(){
   return {
      checks: Object,
      info: Object,
    }
  },
  mounted: function(){

/*
      var self = this;
      var adminURL = self._props.adminurl;

            //LOAD SETTINGS CHECKS
             $.ajax({
               type: "GET",
                url: "/" + adminURL + "/settings/checks",
                success: function(res){
                  console.log(res);
                  console.log(self);
                  self.checks = res;
               }
             });


            //LOAD SETTINGS INFO
             $.ajax({
               type: "GET",
                url: "/" + adminURL + "/settings/info",
                success: function(res){
                  console.log(res);
                  console.log(self);
                  self.info = res;
               }
             });
*/
  },
  methods:{



    //END METHODS
  }

//END COMP  
}
</script>

<style>


h3{
  margin: 0px;
  padding: 0px;
}
</style>