<template id="ListStyles">
  

    <table id="StylesList">
      <thead>
        <tr>
          <th>Name <span class='icon is-small'><i class="fa fa-sort" aria-hidden="true"></i></span></th>
          <th data-sort-method='none'></th>
        </tr>
      </thead>
  <tbody>
    <tr v-for="(item,row) in styles">
      <td class="itemEditTD">
        <a :href="'/'+adminurl+'/style/edit/'+item.key" :data-row="row"  class="listItem" @click="loadItem">
          <span class='icon is-small'>
            <i class="fa fa-file-code-o" aria-hidden="true"></i>
          </span>
        ${item.StyleName}</a>
      </td>


 
      <td class="deleteItemFullTD">
        <a :href="'/'+adminurl+'/style/delete/'+ item.key" :data-row="row" class="deleteItemFull" @click="deleteItem">
            <span class='icon is-small'>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</template>

<script>
/************************* LIST STYLES ****************************/
module.exports = {
  template: '#ListStyles',
  props: ['styles','adminurl'],
  delimiters: ['${', '}'],
  mounted: function(){

              //TABLESORT LIST
              app.sortStyles = new Tablesort(document.getElementById('StylesList'), {
                descending: false
              });
  },
   methods: {
              loadItem: function(e){

              //PREVENT DEFAULT
                  e.preventDefault();

                  //RESET FORM
                  //app.$options.methods.ResetForm();
                  app.$refs.rightPanel.$refs.newBtn.$refs.newItem.click();

                  //NewItem = false;
                  app.isNewBool = false;

                  //GRAB URL
                  var url = e.target.href;
                  var row = e.target.dataset.row;

                  //CHANGE FORM URL
                  $("#EditForm").attr('action',url);

                  //AJAX LOAD SINGLE ITEM
                  $.ajax({
                    url:url,
                    success:function(resp){

                      var res = resp;
                      console.log(resp);
                      
            
                      //SET DATA
                      styleItem.style_name = res.style_name;
                      styleItem.style_sheet = res.style_sheet;
                      styleItem.url = url;
                      styleItem.row = row;

                      //EDITOR SET VALUE
                     //editor.setValue(pageItem.content);
                      app.editorStyles.setValue(styleItem.style_sheet);
                      
                    }

                  //END AJAX 
                  });

              //END LOAD FUNC
              },
             deleteItem: function(e){
                
                //PREVENT DEFAULT
                e.preventDefault();
                
                //GRAB URL
                var url = e.target.href;

                //GRAB ROW INDEX
                var row = Number(e.target.dataset.row);

                //CONFIRM DIALOG
                swal({
                  title: 'Delete Item',
                  text: "Are you sure you want to delete this item?",
                  type: 'error',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel!',
                  confirmButtonClass: 'btn btn-success',
                  cancelButtonClass: 'btn btn-danger',
                  buttonsStyling: true

                }).then(function () {

                        //AJAX
                        $.ajax({
                           type: "POST",
                           url: url,
                           success: function(res){

                              //RESET FORM              
                              app.$options.methods.ResetForm();               
                              
                              //DELETE ROW
                              app.styles.splice(row,1);

                              //app.sortList.refresh();
                               
                              //ALERT
                                swal(
                                  'Deleted!',
                                  res,
                                  'success'
                                );
                           }

                        //END AJAX
                        });


                }).catch(swal.noop);


            //END DELETE FUNC  
            }

        //END METHODS
        }
  }

//END COMP  
//}
</script>