<!--******************************* OPTIONS THEMES*******************************-->
<template id="OptionsThemes">

    <!--OPTIONS-->
    <details id="Options" open>
    <summary></summary>
     
       <div class="field">
    
        <!--TAB BUTTONS-->
    <div id="buttons" @click="btnClick">
    <a id="btn1" class="button is-primary is-outlined is-small" href="#tab1">Header</a>
    <a id="btn2" class="button is-primary is-outlined is-small" href="#tab2">Footer</a>
    </div>

       </div>


    </details>

</template>

<script>
/************************* OPTIONS THEMES ****************************/
module.exports = {
  template: '#OptionsThemes',
  props: ['themes'],
  delimiters: ['${', '}'],
  data: function(){
   return themeItem;
  },
  mounted: function(){
      //$("#btn1").addClass('is-active');

  },
  methods:{


    //TABS BUTTON CLICK   
  btnClick: function(e){

  
        e.preventDefault();
        
        var hash = e.target.hash;
        var num = hash.substr(-1);
        var btns = e.currentTarget.children;
        
        $.each(btns,function(key,val){
            var tab = "#tab"+String(key+1);
              $(tab).css('zIndex',0);
            var btn = $(btns[key]);
                //btn[0].className = "";
                $(btns[key]).addClass("is-outlined");

                $(btns[key]).removeClass("is-active");
        });

        $(hash).css('zIndex',1);
        $("#btn"+num).addClass('is-active');
            $("#btn"+num).removeClass('is-outlined');

        if(num == 1){
          $("#tab2").hide();
          $("#tab1").show();
        } else {
          $("#tab1").hide();
          $("#tab2").show();
        }


    //END BUTTONS CLICK
    }

    //END METHODS
  }

//END COMP  
}
</script>